---
title: Pets
author: Kevin
date: '2019-03-27'
slug: pets
categories:
  - R

tags:
  - TidyTuesday

image:
  caption: 'Pet Registration in Seattle Over Time'
  focal_point: "Smart"

---



<div id="introduction" class="section level1">
<h1>Introduction</h1>
<p>The <a href="https://github.com/rfordatascience/tidytuesday">TidyTuesday</a> project for March 27, 2019 consisted of Pet Registrations from Seattle. I had the good fortune to work with this data set prior on a Chromebook Data Science data visualization project.</p>
<div id="load-libraries" class="section level3">
<h3>Load Libraries</h3>
<pre><code>## ── Attaching packages ───────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.1.0       ✔ purrr   0.3.1  
## ✔ tibble  2.0.1       ✔ dplyr   0.8.0.1
## ✔ tidyr   0.8.3       ✔ stringr 1.4.0  
## ✔ readr   1.3.1       ✔ forcats 0.4.0</code></pre>
<pre><code>## ── Conflicts ──────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<pre><code>## 
## Attaching package: &#39;zoo&#39;</code></pre>
<pre><code>## The following objects are masked from &#39;package:base&#39;:
## 
##     as.Date, as.Date.numeric</code></pre>
</div>
<div id="read-in-the-data" class="section level3">
<h3>Read in the data</h3>
<pre class="r"><code>seattle_pets &lt;- readr::read_csv(&quot;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-03-26/seattle_pets.csv&quot;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   license_issue_date = col_character(),
##   license_number = col_character(),
##   animals_name = col_character(),
##   species = col_character(),
##   primary_breed = col_character(),
##   secondary_breed = col_character(),
##   zip_code = col_character()
## )</code></pre>
</div>
<div id="explore-the-data" class="section level3">
<h3>Explore the Data</h3>
<pre class="r"><code>dplyr::glimpse(seattle_pets)</code></pre>
<pre><code>## Observations: 52,519
## Variables: 7
## $ license_issue_date &lt;chr&gt; &quot;November 16 2018&quot;, &quot;November 11 2018&quot;, &quot;Nove…
## $ license_number     &lt;chr&gt; &quot;8002756&quot;, &quot;S124529&quot;, &quot;903793&quot;, &quot;824666&quot;, &quot;S1…
## $ animals_name       &lt;chr&gt; &quot;Wall-E&quot;, &quot;Andre&quot;, &quot;Mac&quot;, &quot;Melb&quot;, &quot;Gingersnap…
## $ species            &lt;chr&gt; &quot;Dog&quot;, &quot;Dog&quot;, &quot;Dog&quot;, &quot;Cat&quot;, &quot;Cat&quot;, &quot;Dog&quot;, &quot;Do…
## $ primary_breed      &lt;chr&gt; &quot;Mixed Breed, Medium (up to 44 lbs fully grow…
## $ secondary_breed    &lt;chr&gt; &quot;Mix&quot;, &quot;Dachshund, Standard Wire Haired&quot;, NA,…
## $ zip_code           &lt;chr&gt; &quot;98108&quot;, &quot;98117&quot;, &quot;98136&quot;, &quot;98117&quot;, &quot;98144&quot;, …</code></pre>
</div>
<div id="exploratory-graphs" class="section level3">
<h3>Exploratory Graphs</h3>
<p>From this graph we learn that there are many more dogs registered than cats.</p>
<pre class="r"><code>seattle_pets %&gt;%
  ggplot(aes(x = species)) + 
  geom_bar()</code></pre>
<p><img src="/post/2019-03-27-Pets/index_files/figure-html/basic-bar-1.png" width="672" /></p>
<p>This line chart proivdes the framework for a polished graph below. The code chunk below uses a one two punch with with lubridate and zoo to work with the dates.</p>
<pre class="r"><code>## add date and ym columns
seattle_pets$date &lt;- lubridate::mdy(seattle_pets$license_issue_date)
seattle_pets$ym &lt;- zoo::as.yearmon(seattle_pets$date, &quot;%y%m&quot;)

## how the number of licenses recorded has changed over time
seattle_pets %&gt;%
  ## group by yearmonth (`ym`)
  group_by(ym) %&gt;% 
  ## count number within each group
  summarise(n=n()) %&gt;%
  ggplot(., aes(ym, n)) + 
  ## geom name for line chart
  geom_line() +
  scale_x_yearmon() + 
  xlab(&quot;&quot;) + 
  ylab(&quot;Number of licenses&quot;)</code></pre>
<p><img src="/post/2019-03-27-Pets/index_files/figure-html/line-chart-1.png" width="672" /></p>
</div>
<div id="explanatory-graph" class="section level3">
<h3>Explanatory Graph</h3>
<p>The data spans many years when there were no registrations or licences; I was able to use the filter function to emphasis that registrations were very limited prior to January 2017. In January 2017 you are able to observe the number of registrations increase from January 2017 and peaking in February 2018.</p>
<pre class="r"><code>## add date and ym columns
seattle_pets$date &lt;- lubridate::mdy(seattle_pets$license_issue_date)
seattle_pets$ym &lt;- zoo::as.yearmon(seattle_pets$date, &quot;%y%m&quot;)

## how the number of licenses recorded has changed over time
seattle_pets %&gt;%
  ## group by yearmonth (`ym`)
  filter(ym &gt; &quot;June 2015&quot;) %&gt;%
  group_by(ym) %&gt;% 
  ## count number within each group
  count(species) %&gt;%
  ggplot(., aes(ym, n, group = species, color = species)) + 
  ## geom name for line chart
  geom_line() +
  scale_x_yearmon() + 
  xlab(&quot;&quot;) +
  ylab(&quot;Number of licenses&quot;) +
  scale_colour_manual(values = c(&quot;blue&quot;,&quot;red3&quot;,&quot;white&quot;, &quot;grey&quot;)) +
  theme_fivethirtyeight() +
  labs(title = &quot;Change in Licenses Over Time&quot;) +
  labs(caption = &quot;Seattle Open Data Portal&quot;) </code></pre>
<p><img src="/post/2019-03-27-Pets/index_files/figure-html/line-graph-1.png" width="672" /></p>
</div>
<div id="explanatory-bar-charts" class="section level3">
<h3>Explanatory Bar Charts</h3>
<p>The mutate statement here along with the reorder statement puts the bar graph in order. I saw another example where you can use reorder within the aes statement in ggplot2.</p>
<pre class="r"><code>cat_p &lt;- seattle_pets %&gt;%
  filter(species == &quot;Cat&quot;, animals_name != &quot;&quot;) %&gt;%
  group_by(animals_name) %&gt;% 
  summarise(n = n()) %&gt;% 
  filter(n &gt;49) %&gt;%
  mutate(animals_name = reorder(animals_name, n)) %&gt;%
  ggplot(aes(x = animals_name, y =n)) + 
  geom_bar(stat=&quot;identity&quot;) +
  coord_flip() +
  theme_fivethirtyeight() +
   theme         (axis.text = element_text(size = 14), 
                title = element_text(size = 16), 
                legend.position=&quot;none&quot;, 
                plot.caption=element_text(size = 12), 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                axis.text.x = element_blank() ) +
 
  labs(title = &quot;Top Registered Cat Names in Seattle&quot;) +
  labs(subtitle = &quot;Cat Names with at least 50 observations&quot;) +
  labs(caption = &quot;Seattle&#39;s Open Data Portal&quot;) +
  ylab(&quot;Name Count&quot;) +
  xlab(&quot;Cat Name&quot;)+
  geom_text(aes(label = paste0(as.integer(n)),
                x = animals_name,
                y = n, 
            stat= &quot;identity&quot;, 
            hjust = -0.2, 
            
  
            ))</code></pre>
<pre><code>## Warning: Ignoring unknown aesthetics: stat</code></pre>
<pre class="r"><code>cat_p</code></pre>
<p><img src="/post/2019-03-27-Pets/index_files/figure-html/cat-p-1.png" width="672" /></p>
<pre class="r"><code>dog_p &lt;- seattle_pets %&gt;%
  filter(species == &quot;Dog&quot;, animals_name != &quot;&quot;) %&gt;%
  group_by(animals_name) %&gt;% 
  summarise(n = n()) %&gt;% 
  filter(n &gt;149) %&gt;%
  mutate(animals_name = reorder(animals_name, n)) %&gt;%
  ggplot(aes(x = animals_name, y =n)) + 
  geom_bar(stat=&quot;identity&quot;) +
  coord_flip() +
  theme_fivethirtyeight() +
  theme         (axis.text = element_text(size = 14), 
                title = element_text(size = 16), 
                legend.position=&quot;none&quot;, 
                plot.caption=element_text(size = 12), 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                axis.text.x = element_blank() ) +
  labs(title = &quot;Top Registered Dog Names in Seattle&quot;) +
  labs(subtitle = &quot;Dog Names with at least 150 observations&quot;) +
  labs(caption = &quot;Seattle&#39;s Open Data Portal&quot;) +
  ylab(&quot;Name Count&quot;) +
  xlab(&quot;Dog Name&quot;)+
  geom_text(aes(label = paste0(as.integer(n)),
                x = animals_name,
                y = n, 
            stat= &quot;identity&quot;, 
            hjust = -0.2, 
            ))</code></pre>
<pre><code>## Warning: Ignoring unknown aesthetics: stat</code></pre>
<pre class="r"><code>dog_p</code></pre>
<p><img src="/post/2019-03-27-Pets/index_files/figure-html/dog-p-1.png" width="672" /></p>
</div>
</div>
<div id="conclusion" class="section level1">
<h1>Conclusion</h1>
<p>I played with the five_thirtyeight theme and it worked well. I think it would work better with some colors in the bar plot but I am not sure how I would want to color this graph.</p>
</div>
