---
title: Tables with images
author: 'Kevin '
date: '2022-03-09'
slug: []
categories: [R]
tags: [pagedown, gt]
image:
  caption: ''
  focal_point: ''
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<p>I love to use <a href="https://pagedown.rbind.io/">pagedown</a> to generate reports, but I was unable to render a table that rendered an image/icon using <a href="https://glin.github.io/reactable/">reactable</a> and <a href="https://kcuilla.github.io/reactablefmtr/index.html">reactablefmtr</a></p>
<p>I turned to the <a href="https://gt.rstudio.com/">gt package</a> and the gt extra package. The <a href="https://jthomasmock.github.io/gtExtras/">gtExtras</a> makes it easy enough to add the image with the <code>gt_img_rows</code> function.</p>
<p>My issue was merging the image with text in the same column. The audience has not yet associated the image with the column category. The <code>cols_merge</code> function in gt package was not playing well with the image and text.</p>
<p>I found this <a href="https://bjnnowak.netlify.app/2021/10/04/r-beautiful-tables-with-gt-and-gtextras/">tutorial</a> from Benjamin Nowak and it gave me an idea and a test case. The tutorial is wonderful as well.</p>
<p>It was here I noticed the <code>gt_merge_stack</code> function and wondered if I could get it to work with images. The short answer is yes.</p>
<pre class="r"><code>most_wins_tbl &lt;- most_wins %&gt;%
  gt()%&gt;%
  tab_header(
    title = &quot;Most sucessful riders in the Tour de France&quot;
  )%&gt;%
  gtExtras::gt_theme_nytimes()%&gt;%
  # Merge riders&#39; name and nickname on same column
  gtExtras::gt_merge_stack(col1 = Rider, col2 = Nickname)</code></pre>
<div id="zbncdbrtrv" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;">
<style>@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#zbncdbrtrv .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#zbncdbrtrv .gt_heading {
  background-color: #FFFFFF;
  text-align: left;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#zbncdbrtrv .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#zbncdbrtrv .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 6px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#zbncdbrtrv .gt_bottom_border {
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#zbncdbrtrv .gt_col_headings {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #334422;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#zbncdbrtrv .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  text-transform: inherit;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#zbncdbrtrv .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  text-transform: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#zbncdbrtrv .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#zbncdbrtrv .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#zbncdbrtrv .gt_column_spanner {
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #334422;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#zbncdbrtrv .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#zbncdbrtrv .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: middle;
}

#zbncdbrtrv .gt_from_md > :first-child {
  margin-top: 0;
}

#zbncdbrtrv .gt_from_md > :last-child {
  margin-bottom: 0;
}

#zbncdbrtrv .gt_row {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#zbncdbrtrv .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  padding-left: 12px;
}

#zbncdbrtrv .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#zbncdbrtrv .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#zbncdbrtrv .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#zbncdbrtrv .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#zbncdbrtrv .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#zbncdbrtrv .gt_table_body {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;
}

#zbncdbrtrv .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#zbncdbrtrv .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#zbncdbrtrv .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#zbncdbrtrv .gt_sourcenote {
  font-size: 90%;
  padding: 4px;
}

#zbncdbrtrv .gt_left {
  text-align: left;
}

#zbncdbrtrv .gt_center {
  text-align: center;
}

#zbncdbrtrv .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#zbncdbrtrv .gt_font_normal {
  font-weight: normal;
}

#zbncdbrtrv .gt_font_bold {
  font-weight: bold;
}

#zbncdbrtrv .gt_font_italic {
  font-style: italic;
}

#zbncdbrtrv .gt_super {
  font-size: 65%;
}

#zbncdbrtrv .gt_footnote_marks {
  font-style: italic;
  font-weight: normal;
  font-size: 65%;
}
</style>
<table class="gt_table">
  <thead class="gt_header">
    <tr>
      <th colspan="3" class="gt_heading gt_title gt_font_normal gt_bottom_border" style="font-family: &#39;Libre Franklin&#39;; font-weight: 800;">Most sucessful riders in the Tour de France</th>
    </tr>
    
  </thead>
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase;">Rider</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase;">Country</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_right" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase;">Titles</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Bernard Hinault</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Badger</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Eddy Merckx</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Cannibal</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Jacques Anquetil</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Maître Jacques</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Miguel Indurain</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Miguelón</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/sp.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Chris Froome</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Froomey</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/uk.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">4</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Greg LeMond</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The American</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/us.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Louison Bobet</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Zonzon</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Philippe Thys</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Basset Hound</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png" style="height:20px;"></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
  </tbody>
  
  
</table>
</div>
<p>This is where I change the code for the setup to merge into one column.</p>
<pre class="r"><code>most_wins_1 &lt;- most_wins%&gt;%
  mutate(link = case_when(
    str_detect(Country,&#39;France&#39;) ~ &#39;https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png&#39;,
    str_detect(Country,&#39;Belgium&#39;) ~ &#39;https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png&#39;,
    str_detect(Country,&#39;Great Britain&#39;) ~ &#39;https://raw.githubusercontent.com/BjnNowak/TdF/main/uk.png&#39;,
    str_detect(Country,&#39;Spain&#39;) ~ &#39;https://raw.githubusercontent.com/BjnNowak/TdF/main/sp.png&#39;,
    str_detect(Country,&#39;United States&#39;) ~ &#39;https://raw.githubusercontent.com/BjnNowak/TdF/main/us.png&#39;
  ))</code></pre>
<p>The order of the <code>gt_merge_stack</code> matters. This way does not work.</p>
<pre class="r"><code>tab2 &lt;- most_wins_1%&gt;%
  gt()%&gt;%
  tab_header(
    title = &quot;Most sucessful riders in the Tour de France&quot;
  )%&gt;%
  gtExtras::gt_theme_nytimes()%&gt;%
  gtExtras::gt_merge_stack(col1 = Rider, col2 = Nickname)%&gt;%
  gtExtras::gt_img_rows(columns = link, height = 25) %&gt;%
        gtExtras::gt_merge_stack(col1 = Country , col2 = link) %&gt;%
    cols_label(
    link = &quot;Country&quot;
  ) %&gt;%
    gt_theme_538()

tab2</code></pre>
<div id="kzdsgtrlkn" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;">
<style>@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: Chivo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#kzdsgtrlkn .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: none;
  border-top-width: 3px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#kzdsgtrlkn .gt_heading {
  background-color: #FFFFFF;
  text-align: left;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#kzdsgtrlkn .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#kzdsgtrlkn .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 6px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#kzdsgtrlkn .gt_bottom_border {
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#kzdsgtrlkn .gt_col_headings {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#kzdsgtrlkn .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: normal;
  text-transform: uppercase;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#kzdsgtrlkn .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#kzdsgtrlkn .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#kzdsgtrlkn .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#kzdsgtrlkn .gt_column_spanner {
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#kzdsgtrlkn .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  text-transform: uppercase;
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#kzdsgtrlkn .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
  vertical-align: middle;
}

#kzdsgtrlkn .gt_from_md > :first-child {
  margin-top: 0;
}

#kzdsgtrlkn .gt_from_md > :last-child {
  margin-bottom: 0;
}

#kzdsgtrlkn .gt_row {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#kzdsgtrlkn .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 0px;
  border-right-color: #FFFFFF;
  padding-left: 12px;
}

#kzdsgtrlkn .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#kzdsgtrlkn .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#kzdsgtrlkn .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#kzdsgtrlkn .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#kzdsgtrlkn .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#kzdsgtrlkn .gt_table_body {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;
}

#kzdsgtrlkn .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#kzdsgtrlkn .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#kzdsgtrlkn .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#kzdsgtrlkn .gt_sourcenote {
  font-size: 12px;
  padding: 4px;
}

#kzdsgtrlkn .gt_left {
  text-align: left;
}

#kzdsgtrlkn .gt_center {
  text-align: center;
}

#kzdsgtrlkn .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#kzdsgtrlkn .gt_font_normal {
  font-weight: normal;
}

#kzdsgtrlkn .gt_font_bold {
  font-weight: bold;
}

#kzdsgtrlkn .gt_font_italic {
  font-style: italic;
}

#kzdsgtrlkn .gt_super {
  font-size: 65%;
}

#kzdsgtrlkn .gt_footnote_marks {
  font-style: italic;
  font-weight: normal;
  font-size: 65%;
}

tbody tr:last-child {
  border-bottom: 2px solid #ffffff00;
}
</style>
<table class="gt_table">
  <thead class="gt_header">
    <tr>
      <th colspan="3" class="gt_heading gt_title gt_font_normal gt_bottom_border" style="font-family: &#39;Libre Franklin&#39;; font-weight: 800;">Most sucessful riders in the Tour de France</th>
    </tr>
    
  </thead>
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Rider</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Country</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_right" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Titles</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Bernard Hinault</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Badger</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> France</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Eddy Merckx</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Cannibal</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> Belgium</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Jacques Anquetil</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Maître Jacques</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> France</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Miguel Indurain</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Miguelón</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> Spain</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/sp.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Chris Froome</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Froomey</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> Great Britain</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/uk.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">4</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Greg LeMond</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The American</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> United States</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/us.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Louison Bobet</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Zonzon</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> France</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Philippe Thys</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Basset Hound</span></div></td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'> Belgium</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td></tr>
  </tbody>
  
  
</table>
</div>
<p>However, if I reverse the orders it works.</p>
<pre class="r"><code>tab3 &lt;- most_wins_1%&gt;%
  gt()%&gt;%
  tab_header(
    title = &quot;Most sucessful riders in the Tour de France&quot;
  )%&gt;%
  gtExtras::gt_theme_nytimes()%&gt;%
  gtExtras::gt_merge_stack(col1 = Rider, col2 = Nickname)%&gt;%
  gtExtras::gt_img_rows(columns = link, height = 25) %&gt;%
        gtExtras::gt_merge_stack(col1 = link , col2 = Country) %&gt;%
    cols_label(
    link = &quot;Country&quot;
  ) %&gt;%
    gt_theme_538()

tab3</code></pre>
<div id="eadpbecnrn" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;">
<style>@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: Chivo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#eadpbecnrn .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: none;
  border-top-width: 3px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#eadpbecnrn .gt_heading {
  background-color: #FFFFFF;
  text-align: left;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#eadpbecnrn .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#eadpbecnrn .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 6px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#eadpbecnrn .gt_bottom_border {
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#eadpbecnrn .gt_col_headings {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#eadpbecnrn .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: normal;
  text-transform: uppercase;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#eadpbecnrn .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#eadpbecnrn .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#eadpbecnrn .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#eadpbecnrn .gt_column_spanner {
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#eadpbecnrn .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  text-transform: uppercase;
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#eadpbecnrn .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
  vertical-align: middle;
}

#eadpbecnrn .gt_from_md > :first-child {
  margin-top: 0;
}

#eadpbecnrn .gt_from_md > :last-child {
  margin-bottom: 0;
}

#eadpbecnrn .gt_row {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#eadpbecnrn .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 0px;
  border-right-color: #FFFFFF;
  padding-left: 12px;
}

#eadpbecnrn .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#eadpbecnrn .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#eadpbecnrn .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#eadpbecnrn .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#eadpbecnrn .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#eadpbecnrn .gt_table_body {
  border-top-style: none;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;
}

#eadpbecnrn .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#eadpbecnrn .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#eadpbecnrn .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#eadpbecnrn .gt_sourcenote {
  font-size: 12px;
  padding: 4px;
}

#eadpbecnrn .gt_left {
  text-align: left;
}

#eadpbecnrn .gt_center {
  text-align: center;
}

#eadpbecnrn .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#eadpbecnrn .gt_font_normal {
  font-weight: normal;
}

#eadpbecnrn .gt_font_bold {
  font-weight: bold;
}

#eadpbecnrn .gt_font_italic {
  font-style: italic;
}

#eadpbecnrn .gt_super {
  font-size: 65%;
}

#eadpbecnrn .gt_footnote_marks {
  font-style: italic;
  font-weight: normal;
  font-size: 65%;
}

tbody tr:last-child {
  border-bottom: 2px solid #ffffff00;
}
</style>
<table class="gt_table">
  <thead class="gt_header">
    <tr>
      <th colspan="3" class="gt_heading gt_title gt_font_normal gt_bottom_border" style="font-family: &#39;Libre Franklin&#39;; font-weight: 800;">Most sucessful riders in the Tour de France</th>
    </tr>
    
  </thead>
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Rider</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_right" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Titles</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1" style="color: #A9A9A9; font-family: &#39;Source Sans Pro&#39;; text-transform: uppercase; border-top-width: 0px; border-top-style: solid; border-top-color: black;">Country</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Bernard Hinault</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Badger</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> France</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Eddy Merckx</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Cannibal</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> Belgium</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Jacques Anquetil</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Maître Jacques</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> France</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Miguel Indurain</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Miguelón</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">5</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/sp.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> Spain</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Chris Froome</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Froomey</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">4</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/uk.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> Great Britain</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Greg LeMond</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The American</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/us.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> United States</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Louison Bobet</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>Zonzon</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/fr.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> France</span></div></td></tr>
    <tr><td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'>Philippe Thys</div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'>The Basset Hound</span></div></td>
<td class="gt_row gt_right" style="font-family: 'Source Sans Pro'; font-weight: 400;">3</td>
<td class="gt_row gt_left" style="font-family: 'Source Sans Pro'; font-weight: 400;"><div style='line-height:10px'><span style='font-weight:bold;font-variant:small-caps;color:black;font-size:14px'><img src="https://raw.githubusercontent.com/BjnNowak/TdF/main/be.png" style="height:25px;"></div>
<div style='line-height:12px'><span style ='font-weight:bold;color:grey;font-size:10px'> Belgium</span></div></td></tr>
  </tbody>
  
  
</table>
</div>
