---
title: tidy-tuesday-football
author: kevin
date: '2020-02-05'
slug: tidy-tuesday-football
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ─────────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.2.0       ✔ purrr   0.3.2  
## ✔ tibble  2.1.3       ✔ dplyr   0.8.0.1
## ✔ tidyr   0.8.3       ✔ stringr 1.4.0  
## ✔ readr   1.3.1       ✔ forcats 0.4.0</code></pre>
<pre><code>## ── Conflicts ────────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<pre class="r"><code>library(viridis)</code></pre>
<pre><code>## Loading required package: viridisLite</code></pre>
<pre class="r"><code>attendance &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-04/attendance.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   team = col_character(),
##   team_name = col_character(),
##   year = col_double(),
##   total = col_double(),
##   home = col_double(),
##   away = col_double(),
##   week = col_double(),
##   weekly_attendance = col_double()
## )</code></pre>
<pre class="r"><code>standings &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-04/standings.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   team = col_character(),
##   team_name = col_character(),
##   year = col_double(),
##   wins = col_double(),
##   loss = col_double(),
##   points_for = col_double(),
##   points_against = col_double(),
##   points_differential = col_double(),
##   margin_of_victory = col_double(),
##   strength_of_schedule = col_double(),
##   simple_rating = col_double(),
##   offensive_ranking = col_double(),
##   defensive_ranking = col_double(),
##   playoffs = col_character(),
##   sb_winner = col_character()
## )</code></pre>
<pre class="r"><code>games &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-04/games.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   year = col_double(),
##   week = col_character(),
##   home_team = col_character(),
##   away_team = col_character(),
##   winner = col_character(),
##   tie = col_character(),
##   day = col_character(),
##   date = col_character(),
##   time = col_time(format = &quot;&quot;),
##   pts_win = col_double(),
##   pts_loss = col_double(),
##   yds_win = col_double(),
##   turnovers_win = col_double(),
##   yds_loss = col_double(),
##   turnovers_loss = col_double(),
##   home_team_name = col_character(),
##   home_team_city = col_character(),
##   away_team_name = col_character(),
##   away_team_city = col_character()
## )</code></pre>
<pre class="r"><code>df &lt;- dplyr::left_join(attendance, standings, games, by = c(&quot;year&quot;, &quot;team_name&quot;, &quot;team&quot;))
#df_1 &lt;- dplyr::left_join(df,games, by = c(&quot;year&quot;, &quot;team_name&quot;, &quot;team&quot;))</code></pre>
<pre class="r"><code>names(df)</code></pre>
<pre><code>##  [1] &quot;team&quot;                 &quot;team_name&quot;            &quot;year&quot;                
##  [4] &quot;total&quot;                &quot;home&quot;                 &quot;away&quot;                
##  [7] &quot;week&quot;                 &quot;weekly_attendance&quot;    &quot;wins&quot;                
## [10] &quot;loss&quot;                 &quot;points_for&quot;           &quot;points_against&quot;      
## [13] &quot;points_differential&quot;  &quot;margin_of_victory&quot;    &quot;strength_of_schedule&quot;
## [16] &quot;simple_rating&quot;        &quot;offensive_ranking&quot;    &quot;defensive_ranking&quot;   
## [19] &quot;playoffs&quot;             &quot;sb_winner&quot;</code></pre>
<pre class="r"><code>glimpse(df)</code></pre>
<pre><code>## Observations: 10,846
## Variables: 20
## $ team                 &lt;chr&gt; &quot;Arizona&quot;, &quot;Arizona&quot;, &quot;Arizona&quot;, &quot;Arizona&quot;,…
## $ team_name            &lt;chr&gt; &quot;Cardinals&quot;, &quot;Cardinals&quot;, &quot;Cardinals&quot;, &quot;Car…
## $ year                 &lt;dbl&gt; 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2…
## $ total                &lt;dbl&gt; 893926, 893926, 893926, 893926, 893926, 893…
## $ home                 &lt;dbl&gt; 387475, 387475, 387475, 387475, 387475, 387…
## $ away                 &lt;dbl&gt; 506451, 506451, 506451, 506451, 506451, 506…
## $ week                 &lt;dbl&gt; 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, …
## $ weekly_attendance    &lt;dbl&gt; 77434, 66009, NA, 71801, 66985, 44296, 3829…
## $ wins                 &lt;dbl&gt; 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3…
## $ loss                 &lt;dbl&gt; 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,…
## $ points_for           &lt;dbl&gt; 210, 210, 210, 210, 210, 210, 210, 210, 210…
## $ points_against       &lt;dbl&gt; 443, 443, 443, 443, 443, 443, 443, 443, 443…
## $ points_differential  &lt;dbl&gt; -233, -233, -233, -233, -233, -233, -233, -…
## $ margin_of_victory    &lt;dbl&gt; -14.6, -14.6, -14.6, -14.6, -14.6, -14.6, -…
## $ strength_of_schedule &lt;dbl&gt; -0.7, -0.7, -0.7, -0.7, -0.7, -0.7, -0.7, -…
## $ simple_rating        &lt;dbl&gt; -15.2, -15.2, -15.2, -15.2, -15.2, -15.2, -…
## $ offensive_ranking    &lt;dbl&gt; -7.2, -7.2, -7.2, -7.2, -7.2, -7.2, -7.2, -…
## $ defensive_ranking    &lt;dbl&gt; -8.1, -8.1, -8.1, -8.1, -8.1, -8.1, -8.1, -…
## $ playoffs             &lt;chr&gt; &quot;No Playoffs&quot;, &quot;No Playoffs&quot;, &quot;No Playoffs&quot;…
## $ sb_winner            &lt;chr&gt; &quot;No Superbowl&quot;, &quot;No Superbowl&quot;, &quot;No Superbo…</code></pre>
<pre class="r"><code>points_diff &lt;- df %&gt;%
  dplyr::group_by(year, team) %&gt;%
  dplyr::summarise(median = median(points_differential, na.rm = TRUE))

points_diff</code></pre>
<pre><code>## # A tibble: 615 x 3
## # Groups:   year [20]
##     year team       median
##    &lt;dbl&gt; &lt;chr&gt;       &lt;dbl&gt;
##  1  2000 Arizona      -233
##  2  2000 Atlanta      -161
##  3  2000 Baltimore     168
##  4  2000 Buffalo       -35
##  5  2000 Carolina        0
##  6  2000 Chicago      -139
##  7  2000 Cincinnati   -174
##  8  2000 Cleveland    -258
##  9  2000 Dallas        -67
## 10  2000 Denver        116
## # … with 605 more rows</code></pre>
<pre class="r"><code>sd(df$points_differential)</code></pre>
<pre><code>## [1] 101.0143</code></pre>
<pre class="r"><code>ggplot2::ggplot(df, aes(total, points_differential, color = playoffs)) +
  geom_point()</code></pre>
<p><img src="/post/2020-02-05-tidy-tuesday-football_files/figure-html/unnamed-chunk-6-1.png" width="672" /></p>
<pre class="r"><code>tampa &lt;- df %&gt;%
  dplyr:: filter(team == &quot;Tampa Bay&quot;) %&gt;%
  ggplot(., aes(y = points_differential, x = year, color = wins)) +
  geom_point() +
  scale_fill_viridis(discrete = TRUE, alpha=0.6) +
  theme_bw()

tampa</code></pre>
<p><img src="/post/2020-02-05-tidy-tuesday-football_files/figure-html/tampa-1.png" width="672" /></p>
<p>Question: Is point differential associated with winning and playoff appearance in Professional Football.</p>
<pre class="r"><code>ggplot(df, aes(y = wins, x = points_differential, color = playoffs)) +
  geom_point() +
  scale_fill_viridis(discrete = TRUE, alpha=0.6) +
  theme_light() +
  labs(title = &quot;Relationship between wins and point differential&quot;,
       caption = &quot;Data from Pro Football Reference  \n tidytuesday \n @kevin_gilds \n  &quot;) +
  ylab(&quot;Number of Wins&quot;) +
  xlab(&quot;Point Differential&quot;) +
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 12), 
                legend.position=&quot;right&quot;, 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                plot.caption = element_text(face = &quot;italic&quot;, size = 8)
                
  )</code></pre>
<p><img src="/post/2020-02-05-tidy-tuesday-football_files/figure-html/point-differential-1.png" width="672" /></p>
<p>A point differential of 100 or more is associated with a winning season and a playoff appearance.</p>
