---
title: tidy-tuesday-food-consumption
author: kevin
date: '2020-02-17'
slug: tidy-tuesday-food-consumption
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<div id="introduction" class="section level1">
<h1>Introduction</h1>
<p>This <a href="https://github.com/rfordatascience/tidytuesday">tidytuesday dataset</a> came from this <a href="https://r-tastic.co.uk/post/from-messy-to-tidy/">blog post</a>. The author obtained the data from scraping this <a href="https://www.nu3.de/blogs/nutrition/food-carbon-footprint-index-2018">website</a>. It seems like a great tutorial on using the ``rvest``` package.</p>
<div id="read-in-the-data" class="section level2">
<h2>Read in the data</h2>
<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ─────────────────────────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.2.0       ✔ purrr   0.3.2  
## ✔ tibble  2.1.3       ✔ dplyr   0.8.0.1
## ✔ tidyr   0.8.3       ✔ stringr 1.4.0  
## ✔ readr   1.3.1       ✔ forcats 0.4.0</code></pre>
<pre><code>## ── Conflicts ────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<pre class="r"><code>food_consumption &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   country = col_character(),
##   food_category = col_character(),
##   consumption = col_double(),
##   co2_emmission = col_double()
## )</code></pre>
</div>
<div id="data-exploration" class="section level2">
<h2>Data Exploration</h2>
<pre class="r"><code>head(food_consumption)</code></pre>
<pre><code>## # A tibble: 6 x 4
##   country   food_category consumption co2_emmission
##   &lt;chr&gt;     &lt;chr&gt;               &lt;dbl&gt;         &lt;dbl&gt;
## 1 Argentina Pork                10.5          37.2 
## 2 Argentina Poultry             38.7          41.5 
## 3 Argentina Beef                55.5        1712   
## 4 Argentina Lamb &amp; Goat          1.56         54.6 
## 5 Argentina Fish                 4.36          6.96
## 6 Argentina Eggs                11.4          10.5</code></pre>
<pre class="r"><code>food_consumption %&gt;%
  dplyr::count(country)</code></pre>
<pre><code>## # A tibble: 130 x 2
##    country        n
##    &lt;chr&gt;      &lt;int&gt;
##  1 Albania       11
##  2 Algeria       11
##  3 Angola        11
##  4 Argentina     11
##  5 Armenia       11
##  6 Australia     11
##  7 Austria       11
##  8 Bahamas       11
##  9 Bangladesh    11
## 10 Barbados      11
## # … with 120 more rows</code></pre>
</div>
</div>
<div id="notes" class="section level1">
<h1>Notes</h1>
<p>I was not able to produce a plot that colored or filled by country as there were too many countries. An idea could be to join another data set to get the countries by continent. Another idea would be to mutate a column by whether a food category is an animal by-product or not.</p>
</div>
<div id="product" class="section level1">
<h1>Product</h1>
<p>The graph I could produce is below. It shows that Dairy and Wheat products are the most consumed food items.</p>
<pre class="r"><code>ggplot(food_consumption, aes(y =consumption, x = food_category, fill = co2_emmission)) +
         geom_boxplot() +
  coord_flip() +
  theme_light() +
  ylab(&quot;Consumption(kg/person/year)&quot;) +
  xlab(&quot;Food Category&quot;) +
  labs(title = &quot;Food Consumption by Category&quot;,
       caption = &quot;tidytuesday \n @kevin_gilds \n  &quot;) +
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 12), 
                legend.position=&quot;right&quot;, 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                plot.caption = element_text(face = &quot;italic&quot;, size = 8)
                
  )</code></pre>
<p><img src="/post/tidy-tuesday-food/2020-02-17-tidy-tuesday-food-consumption_files/figure-html/food_consumption-1.png" width="672" /></p>
<div id="favorite-graphs-from-the-community" class="section level2">
<h2>Favorite Graphs from the community</h2>
<p>This was my favorite plot because I want to learn to implement this plot</p>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
<a href="https://twitter.com/hashtag/Tidytuesday?src=hash&amp;ref_src=twsrc%5Etfw">#Tidytuesday</a> 2020W8<br>👇 <br> Our C02 emission does't only depends on what we eat but also on how much we eat, and sadly some country doesn't eat enough… code: <a href="https://t.co/iIZdeCp9Us">https://t.co/iIZdeCp9Us</a><a href="https://twitter.com/hashtag/Rstats?src=hash&amp;ref_src=twsrc%5Etfw">#Rstats</a> <a href="https://twitter.com/hashtag/ggplot?src=hash&amp;ref_src=twsrc%5Etfw">#ggplot</a> <a href="https://twitter.com/hashtag/dataviz?src=hash&amp;ref_src=twsrc%5Etfw">#dataviz</a> <a href="https://t.co/sNRwTMxUMP">pic.twitter.com/sNRwTMxUMP</a>
</p>
— Johanie Fournier (<span class="citation">@FournierJohanie</span>) <a href="https://twitter.com/FournierJohanie/status/1230536223460077569?ref_src=twsrc%5Etfw">February 20, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>This plot was similiar to mine expect much colorful.</p>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
My <a href="https://twitter.com/hashtag/TidyTuesday?src=hash&amp;ref_src=twsrc%5Etfw">#TidyTuesday</a> looking at food consumption and CO2 emissions. I used geom_text_repel to spot the highest values. <a href="https://twitter.com/hashtag/rstat?src=hash&amp;ref_src=twsrc%5Etfw">#rstat</a> <a href="https://twitter.com/hashtag/Rladies?src=hash&amp;ref_src=twsrc%5Etfw">#Rladies</a> <a href="https://twitter.com/hashtag/dplyr?src=hash&amp;ref_src=twsrc%5Etfw">#dplyr</a> <a href="https://t.co/SbiyK7dZWf">pic.twitter.com/SbiyK7dZWf</a>
</p>
— R-Ladies Ames (<span class="citation">@RLadiesAmes</span>) <a href="https://twitter.com/RLadiesAmes/status/1230506511782182912?ref_src=twsrc%5Etfw">February 20, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
