---
title: that easy
author: Kevin
date: '2018-10-30'
slug: that-easy
categories:
  - worknotes
tags: ["Vectors"]
header:
  caption: ''
  image: ''
---



<p>I have been working more with vectors and was stumped for a minute on how to add a vector to a dataframe/tibble.</p>
<p>It’s this easy</p>
<pre class="r"><code>student_met_test$site &lt;- sites</code></pre>
<p>Where student_met_test is the tibble and sites is the vector.</p>
