---
title: Text work
author: Kevin
date: '2018-10-31'
slug: text-work
categories:
  - worknotes, R
tags:
  - string
header:
  caption: ''
  image: ''
---



<p>I ran into some trouble with a workflow and needed to make a decision. I had combined student code with site information and lost the ability to easily summarize by the site location. However, the student_code_2 vector has a pattern that can be extracted with the str_extract function. However, I had trouble finding the right pattern to match the data.</p>
<p>This <a href="https://stackoverflow.com/questions/46665004/r-use-str-extract-stringr-to-export-a-string-between">stack overflow question</a> and answer helped me figure it out.</p>
<pre class="r"><code>sites &lt;- str_extract(student_met_test$student_code_2, &quot;(?&lt;=_).+?(?=_)&quot;)</code></pre>
