---
title: Double your rda
author: Kevin
date: '2018-11-22'
slug: double-your-rda
categories:
  - R
tags:
  - chromebook data science
header:
  caption: ''
  image: ''
---



<p>I started using the rda file type prior but I did not fully grasp the potential.</p>
<p>In Lesson <em>Data in R</em> in the Tidying Data course from Chromebook Data Science.</p>
<p>I learned that a rda file can hold multiple R objects. Here is an example</p>
<pre class="r"><code>cat &lt;- &quot;fluffy&quot;
dog &lt;- &quot;Kendle&quot;

save(cat, dog, file = &quot;pets.rda&quot;)</code></pre>
<pre class="r"><code>load(&quot;pets.rda&quot;)

cat</code></pre>
<pre><code>## [1] &quot;fluffy&quot;</code></pre>
<pre class="r"><code>dog</code></pre>
<pre><code>## [1] &quot;Kendle&quot;</code></pre>
