---
title: More Thrashing
author: Kevin
date: '2018-10-03'
slug: more-thrashing
categories:
  - Worknotes
tags: [R, Shiny]
header:
  caption: ''
  image: ''
---



<blockquote>
<p>60 minutes</p>
</blockquote>
<p>I am still thrashing on this Shiny Application.</p>
<p>In theory I should be able to filter down a data frame. I attempted to place a conditional panel but it still renders an error until a school is selected.</p>
<p>I had trouble recalling to update the code filtering the data with the correct input.</p>
<p>The next step is to try and establish defaults. May start with a familiar school and district.</p>
