---
title: I want it 'all'
author: Kevin
date: '2019-04-26'
slug: i-want-it-all
categories:
  - R
tags:
  - parameterized reports
image:
  caption: ''
  focal_point: ''
  

---



<p>This is an informative and helpful <a href="https://medium.com/@urban_institute/iterated-fact-sheets-with-r-markdown-d685eb4eafce">Tutorial</a> on using parameterized reports. The tutorial uses the <code>bad-drivers</code> dataset from the package <code>fivethirtyeight</code>.</p>
<pre class="r"><code>library(fivethirtyeight)

head(bad_drivers)</code></pre>
<pre><code>##        state num_drivers perc_speeding perc_alcohol perc_not_distracted
## 1    Alabama        18.8            39           30                  96
## 2     Alaska        18.1            41           25                  90
## 3    Arizona        18.6            35           28                  84
## 4   Arkansas        22.4            18           26                  94
## 5 California        12.0            35           28                  91
## 6   Colorado        13.6            37           28                  79
##   perc_no_previous insurance_premiums losses
## 1               80             784.55 145.08
## 2               94            1053.48 133.93
## 3               96             899.47 110.35
## 4               95             827.34 142.39
## 5               89             878.41 165.63
## 6               95             835.50 139.91</code></pre>
<p>The code chunk below establishes a filtered dataset based on the state that is selected in the yaml section. If you are familiar with <code>Shiny</code>; think of the params as the input value.</p>
<pre class="r"><code>drivers_subset &lt;- bad_drivers %&gt;%
  filter(state == params$state)</code></pre>
<p>My challenge with parameterized reports is that in my use case; I may want to select all the values for a report. This <a href="https://stackoverflow.com/questions/54840334/reactively-filtering-subsetting-a-data-frame-in-shiny?noredirect=1&amp;lq=1">post</a> provides a <code>Shiny</code> example.</p>
<p>Because the params is just like <code>Shiny</code> input–the same principals apply.</p>
<pre class="r"><code>drivers_subset &lt;- if (any(params$state == &quot;All&quot;)) {
  bad_drivers
  } else {
    filter(bad_drivers, state == params$state)
 }</code></pre>
<p>Make sure you add “All” as a choice parameter and it will work.</p>
