---
title: 'Medals '
author: Kevin
date: '2019-02-03'
slug: medals
categories:
  - R
tags:
  - chromebook data science
  - Exploring Data
header:
  caption: ''
  image: ''
---



<p>This is a chromebook data science exericse–Exploring Data</p>
<div id="libraries" class="section level1">
<h1>Libraries</h1>
<pre class="r"><code>library(skimr)</code></pre>
<pre><code>## 
## Attaching package: &#39;skimr&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:stats&#39;:
## 
##     filter</code></pre>
<pre class="r"><code>library(readr)</code></pre>
</div>
<div id="read-the-data" class="section level1">
<h1>Read the data</h1>
<pre class="r"><code>medals &lt;- read_csv(&quot;athlete_events.csv&quot;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   ID = col_double(),
##   Name = col_character(),
##   Sex = col_character(),
##   Age = col_double(),
##   Height = col_double(),
##   Weight = col_double(),
##   Team = col_character(),
##   NOC = col_character(),
##   Games = col_character(),
##   Year = col_double(),
##   Season = col_character(),
##   City = col_character(),
##   Sport = col_character(),
##   Event = col_character(),
##   Medal = col_character()
## )</code></pre>
</div>
<div id="summary-of-the-data-frame." class="section level1">
<h1>Summary of the data frame.</h1>
<pre class="r"><code>skim(medals)</code></pre>
<pre><code>## Skim summary statistics
##  n obs: 271116 
##  n variables: 15 
## 
## ── Variable type:character ──────────────────────────────────────────────────────────────────────
##  variable missing complete      n min max empty n_unique
##      City       0   271116 271116   4  22     0       42
##     Event       0   271116 271116  15  85     0      765
##     Games       0   271116 271116  11  11     0       51
##     Medal  231333    39783 271116   4   6     0        3
##      Name       0   271116 271116   2 108     0   134731
##       NOC       0   271116 271116   3   3     0      230
##    Season       0   271116 271116   6   6     0        2
##       Sex       0   271116 271116   1   1     0        2
##     Sport       0   271116 271116   4  25     0       66
##      Team       0   271116 271116   2  47     0     1184
## 
## ── Variable type:numeric ────────────────────────────────────────────────────────────────────────
##  variable missing complete      n     mean       sd   p0   p25   p50   p75
##       Age    9474   261642 271116    25.56     6.39   10    21    24    28
##    Height   60171   210945 271116   175.34    10.52  127   168   175   183
##        ID       0   271116 271116 68248.95 39022.29    1 34643 68205 1e+05
##    Weight   62875   208241 271116    70.7     14.35   25    60    70    79
##      Year       0   271116 271116  1978.38    29.88 1896  1960  1988  2002
##    p100     hist
##      97 ▂▇▁▁▁▁▁▁
##     226 ▁▁▃▇▇▂▁▁
##  135571 ▇▇▇▇▇▇▇▇
##     214 ▁▇▅▁▁▁▁▁
##    2016 ▁▂▂▂▃▅▇▇</code></pre>
</div>
