---
title: Dashboard and Rds notes
author: Kevin
date: '2019-01-28'
slug: dashboard-and-rds-notes
categories:
  - R
tags:
  - WorkNotes
header:
  caption: ''
  image: ''
---



<blockquote>
<p>4:00-6:00 am</p>
</blockquote>
<p>This morning I had re-install R; apparently I failed this on Saturday. I had some challenges and have had to re-install all my packages.</p>
<p>I discovered that this script stopped working and I had to make a change from save to write_rds. The error message I was getting was not a valid input.</p>
<pre class="r"><code>save(object, file = &quot;.rds&quot;) #incorrect

write_rds(object, file.path = ) #correct</code></pre>
<p>I was able to get the Q1 Academic results in the boxes on the dashboard. I am happy I stuck with the correct process and made it dynamic. Speaking of dashboards; I discovered this <a href="https://rinterface.github.io/shinydashboardPlus/">package</a>. This seem awesome, if not overwhelming.</p>
<p>I was able to play with page_dowm to render a report. So close but not quite ready for production yet.</p>
