---
title: Counting the NAs
author: Kevin
date: '2019-02-24'
slug: counting-the-nas
categories:
  - R
tags:
  - Chromegook Data Sciene
  - Janitor
header:
  caption: ''
  image: ''
---



<pre class="r"><code>library(skimr)</code></pre>
<pre><code>## 
## Attaching package: &#39;skimr&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:stats&#39;:
## 
##     filter</code></pre>
<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ──────────────────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.1.0       ✔ purrr   0.3.1  
## ✔ tibble  2.0.1       ✔ dplyr   0.8.0.1
## ✔ tidyr   0.8.3       ✔ stringr 1.4.0  
## ✔ readr   1.3.1       ✔ forcats 0.4.0</code></pre>
<pre><code>## ── Conflicts ─────────────────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks skimr::filter(), stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<p>I encountered a new challenge with NA values and tables today.</p>
<p>Apparently there is a function <a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/factor.html"><sub>add.na</sub></a> and this will help you display a count of the na values.</p>
<pre class="r"><code>table(msleep$conservation)</code></pre>
<pre><code>## 
##           cd domesticated           en           lc           nt 
##            2           10            4           27            4 
##           vu 
##            7</code></pre>
<p>However, I simply dont’t want to add another level.</p>
<pre class="r"><code>skimr::skim(msleep)</code></pre>
<pre><code>## Skim summary statistics
##  n obs: 83 
##  n variables: 11 
## 
## ── Variable type:character ──────────────────────────────────────────────────────────────────────
##      variable missing complete  n min max empty n_unique
##  conservation      29       54 83   2  12     0        6
##         genus       0       83 83   3  13     0       77
##          name       0       83 83   3  30     0       83
##         order       0       83 83   6  15     0       19
##          vore       7       76 83   4   7     0        4
## 
## ── Variable type:numeric ────────────────────────────────────────────────────────────────────────
##     variable missing complete  n   mean     sd      p0     p25    p50
##        awake       0       83 83  13.57   4.45 4.1     10.25   13.9  
##       bodywt       0       83 83 166.14 786.84 0.005    0.17    1.67 
##      brainwt      27       56 83   0.28   0.98 0.00014  0.0029  0.012
##  sleep_cycle      51       32 83   0.44   0.36 0.12     0.18    0.33 
##    sleep_rem      22       61 83   1.88   1.3  0.1      0.9     1.5  
##  sleep_total       0       83 83  10.43   4.45 1.9      7.85   10.1  
##    p75    p100     hist
##  16.15   22.1  ▂▃▅▆▇▃▃▃
##  41.75 6654    ▇▁▁▁▁▁▁▁
##   0.13    5.71 ▇▁▁▁▁▁▁▁
##   0.58    1.5  ▇▃▁▂▁▁▁▁
##   2.4     6.6  ▇▇▇▃▂▁▁▁
##  13.75   19.9  ▃▃▂▇▅▅▂▂</code></pre>
<pre class="r"><code>glimpse(msleep)</code></pre>
<pre><code>## Observations: 83
## Variables: 11
## $ name         &lt;chr&gt; &quot;Cheetah&quot;, &quot;Owl monkey&quot;, &quot;Mountain beaver&quot;, &quot;Greate…
## $ genus        &lt;chr&gt; &quot;Acinonyx&quot;, &quot;Aotus&quot;, &quot;Aplodontia&quot;, &quot;Blarina&quot;, &quot;Bos&quot;…
## $ vore         &lt;chr&gt; &quot;carni&quot;, &quot;omni&quot;, &quot;herbi&quot;, &quot;omni&quot;, &quot;herbi&quot;, &quot;herbi&quot;,…
## $ order        &lt;chr&gt; &quot;Carnivora&quot;, &quot;Primates&quot;, &quot;Rodentia&quot;, &quot;Soricomorpha&quot;…
## $ conservation &lt;chr&gt; &quot;lc&quot;, NA, &quot;nt&quot;, &quot;lc&quot;, &quot;domesticated&quot;, NA, &quot;vu&quot;, NA,…
## $ sleep_total  &lt;dbl&gt; 12.1, 17.0, 14.4, 14.9, 4.0, 14.4, 8.7, 7.0, 10.1, …
## $ sleep_rem    &lt;dbl&gt; NA, 1.8, 2.4, 2.3, 0.7, 2.2, 1.4, NA, 2.9, NA, 0.6,…
## $ sleep_cycle  &lt;dbl&gt; NA, NA, NA, 0.1333333, 0.6666667, 0.7666667, 0.3833…
## $ awake        &lt;dbl&gt; 11.9, 7.0, 9.6, 9.1, 20.0, 9.6, 15.3, 17.0, 13.9, 2…
## $ brainwt      &lt;dbl&gt; NA, 0.01550, NA, 0.00029, 0.42300, NA, NA, NA, 0.07…
## $ bodywt       &lt;dbl&gt; 50.000, 0.480, 1.350, 0.019, 600.000, 3.850, 20.490…</code></pre>
<p>A basic table will not give you the count of NA values.</p>
<pre class="r"><code>table(msleep$name, msleep$conservation)</code></pre>
<pre><code>##                                 
##                                  cd domesticated en lc nt vu
##   African elephant                0            0  0  0  0  1
##   African giant pouched rat       0            0  0  0  0  0
##   African striped mouse           0            0  0  0  0  0
##   Arctic fox                      0            0  0  0  0  0
##   Arctic ground squirrel          0            0  0  1  0  0
##   Asian elephant                  0            0  1  0  0  0
##   Baboon                          0            0  0  0  0  0
##   Big brown bat                   0            0  0  1  0  0
##   Bottle-nosed dolphin            0            0  0  0  0  0
##   Brazilian tapir                 0            0  0  0  0  1
##   Caspian seal                    0            0  0  0  0  1
##   Cheetah                         0            0  0  1  0  0
##   Chimpanzee                      0            0  0  0  0  0
##   Chinchilla                      0            1  0  0  0  0
##   Common porpoise                 0            0  0  0  0  1
##   Cotton rat                      0            0  0  0  0  0
##   Cow                             0            1  0  0  0  0
##   Deer mouse                      0            0  0  0  0  0
##   Degu                            0            0  0  1  0  0
##   Desert hedgehog                 0            0  0  1  0  0
##   Dog                             0            1  0  0  0  0
##   Domestic cat                    0            1  0  0  0  0
##   Donkey                          0            1  0  0  0  0
##   Eastern american chipmunk       0            0  0  0  0  0
##   Eastern american mole           0            0  0  1  0  0
##   European hedgehog               0            0  0  1  0  0
##   Galago                          0            0  0  0  0  0
##   Genet                           0            0  0  0  0  0
##   Giant armadillo                 0            0  1  0  0  0
##   Giraffe                         1            0  0  0  0  0
##   Goat                            0            0  0  1  0  0
##   Golden hamster                  0            0  1  0  0  0
##   Golden-mantled ground squirrel  0            0  0  1  0  0
##   Gray hyrax                      0            0  0  1  0  0
##   Gray seal                       0            0  0  1  0  0
##   Greater short-tailed shrew      0            0  0  1  0  0
##   Grivet                          0            0  0  1  0  0
##   Guinea pig                      0            1  0  0  0  0
##   Horse                           0            1  0  0  0  0
##   House mouse                     0            0  0  0  1  0
##   Human                           0            0  0  0  0  0
##   Jaguar                          0            0  0  0  1  0
##   Laboratory rat                  0            0  0  1  0  0
##   Lesser short-tailed shrew       0            0  0  1  0  0
##   Lion                            0            0  0  0  0  1
##   Little brown bat                0            0  0  0  0  0
##   Long-nosed armadillo            0            0  0  1  0  0
##   Macaque                         0            0  0  0  0  0
##   Mole rat                        0            0  0  0  0  0
##   Mongolian gerbil                0            0  0  1  0  0
##   Mongoose lemur                  0            0  0  0  0  1
##   Mountain beaver                 0            0  0  0  1  0
##   Musk shrew                      0            0  0  0  0  0
##   North American Opossum          0            0  0  1  0  0
##   Northern fur seal               0            0  0  0  0  1
##   Northern grasshopper mouse      0            0  0  1  0  0
##   Owl monkey                      0            0  0  0  0  0
##   Patas monkey                    0            0  0  1  0  0
##   Phalanger                       0            0  0  0  0  0
##   Pig                             0            1  0  0  0  0
##   Pilot whale                     1            0  0  0  0  0
##   Potoroo                         0            0  0  0  0  0
##   Potto                           0            0  0  1  0  0
##   Rabbit                          0            1  0  0  0  0
##   Red fox                         0            0  0  0  0  0
##   Rock hyrax                      0            0  0  1  0  0
##   Roe deer                        0            0  0  1  0  0
##   Round-tailed muskrat            0            0  0  0  1  0
##   Sheep                           0            1  0  0  0  0
##   Short-nosed echidna             0            0  0  0  0  0
##   Slow loris                      0            0  0  0  0  0
##   Squirrel monkey                 0            0  0  0  0  0
##   Star-nosed mole                 0            0  0  1  0  0
##   Tenrec                          0            0  0  0  0  0
##   Thick-tailed opposum            0            0  0  1  0  0
##   Thirteen-lined ground squirrel  0            0  0  1  0  0
##   Three-toed sloth                0            0  0  0  0  0
##   Tiger                           0            0  1  0  0  0
##   Tree hyrax                      0            0  0  1  0  0
##   Tree shrew                      0            0  0  0  0  0
##   Vesper mouse                    0            0  0  0  0  0
##   Vole                            0            0  0  0  0  0
##   Western american chipmunk       0            0  0  0  0  0</code></pre>
<p>Here is a trick from the table documentation.</p>
<p><a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/table.html" class="uri">https://stat.ethz.ch/R-manual/R-devel/library/base/html/table.html</a></p>
<p>If you want to display a count of the NA Values, you can use the argument useNA and use “ifany”</p>
<pre class="r"><code>table(msleep$name, msleep$conservation, useNA = &quot;ifany&quot;)</code></pre>
<pre><code>##                                 
##                                  cd domesticated en lc nt vu &lt;NA&gt;
##   African elephant                0            0  0  0  0  1    0
##   African giant pouched rat       0            0  0  0  0  0    1
##   African striped mouse           0            0  0  0  0  0    1
##   Arctic fox                      0            0  0  0  0  0    1
##   Arctic ground squirrel          0            0  0  1  0  0    0
##   Asian elephant                  0            0  1  0  0  0    0
##   Baboon                          0            0  0  0  0  0    1
##   Big brown bat                   0            0  0  1  0  0    0
##   Bottle-nosed dolphin            0            0  0  0  0  0    1
##   Brazilian tapir                 0            0  0  0  0  1    0
##   Caspian seal                    0            0  0  0  0  1    0
##   Cheetah                         0            0  0  1  0  0    0
##   Chimpanzee                      0            0  0  0  0  0    1
##   Chinchilla                      0            1  0  0  0  0    0
##   Common porpoise                 0            0  0  0  0  1    0
##   Cotton rat                      0            0  0  0  0  0    1
##   Cow                             0            1  0  0  0  0    0
##   Deer mouse                      0            0  0  0  0  0    1
##   Degu                            0            0  0  1  0  0    0
##   Desert hedgehog                 0            0  0  1  0  0    0
##   Dog                             0            1  0  0  0  0    0
##   Domestic cat                    0            1  0  0  0  0    0
##   Donkey                          0            1  0  0  0  0    0
##   Eastern american chipmunk       0            0  0  0  0  0    1
##   Eastern american mole           0            0  0  1  0  0    0
##   European hedgehog               0            0  0  1  0  0    0
##   Galago                          0            0  0  0  0  0    1
##   Genet                           0            0  0  0  0  0    1
##   Giant armadillo                 0            0  1  0  0  0    0
##   Giraffe                         1            0  0  0  0  0    0
##   Goat                            0            0  0  1  0  0    0
##   Golden hamster                  0            0  1  0  0  0    0
##   Golden-mantled ground squirrel  0            0  0  1  0  0    0
##   Gray hyrax                      0            0  0  1  0  0    0
##   Gray seal                       0            0  0  1  0  0    0
##   Greater short-tailed shrew      0            0  0  1  0  0    0
##   Grivet                          0            0  0  1  0  0    0
##   Guinea pig                      0            1  0  0  0  0    0
##   Horse                           0            1  0  0  0  0    0
##   House mouse                     0            0  0  0  1  0    0
##   Human                           0            0  0  0  0  0    1
##   Jaguar                          0            0  0  0  1  0    0
##   Laboratory rat                  0            0  0  1  0  0    0
##   Lesser short-tailed shrew       0            0  0  1  0  0    0
##   Lion                            0            0  0  0  0  1    0
##   Little brown bat                0            0  0  0  0  0    1
##   Long-nosed armadillo            0            0  0  1  0  0    0
##   Macaque                         0            0  0  0  0  0    1
##   Mole rat                        0            0  0  0  0  0    1
##   Mongolian gerbil                0            0  0  1  0  0    0
##   Mongoose lemur                  0            0  0  0  0  1    0
##   Mountain beaver                 0            0  0  0  1  0    0
##   Musk shrew                      0            0  0  0  0  0    1
##   North American Opossum          0            0  0  1  0  0    0
##   Northern fur seal               0            0  0  0  0  1    0
##   Northern grasshopper mouse      0            0  0  1  0  0    0
##   Owl monkey                      0            0  0  0  0  0    1
##   Patas monkey                    0            0  0  1  0  0    0
##   Phalanger                       0            0  0  0  0  0    1
##   Pig                             0            1  0  0  0  0    0
##   Pilot whale                     1            0  0  0  0  0    0
##   Potoroo                         0            0  0  0  0  0    1
##   Potto                           0            0  0  1  0  0    0
##   Rabbit                          0            1  0  0  0  0    0
##   Red fox                         0            0  0  0  0  0    1
##   Rock hyrax                      0            0  0  1  0  0    0
##   Roe deer                        0            0  0  1  0  0    0
##   Round-tailed muskrat            0            0  0  0  1  0    0
##   Sheep                           0            1  0  0  0  0    0
##   Short-nosed echidna             0            0  0  0  0  0    1
##   Slow loris                      0            0  0  0  0  0    1
##   Squirrel monkey                 0            0  0  0  0  0    1
##   Star-nosed mole                 0            0  0  1  0  0    0
##   Tenrec                          0            0  0  0  0  0    1
##   Thick-tailed opposum            0            0  0  1  0  0    0
##   Thirteen-lined ground squirrel  0            0  0  1  0  0    0
##   Three-toed sloth                0            0  0  0  0  0    1
##   Tiger                           0            0  1  0  0  0    0
##   Tree hyrax                      0            0  0  1  0  0    0
##   Tree shrew                      0            0  0  0  0  0    1
##   Vesper mouse                    0            0  0  0  0  0    1
##   Vole                            0            0  0  0  0  0    1
##   Western american chipmunk       0            0  0  0  0  0    1</code></pre>
<p>You can also use the janitor package to count NA values.</p>
<pre class="r"><code>msleep %&gt;%
  janitor::tabyl(name, conservation) %&gt;%
  janitor::adorn_totals()</code></pre>
<pre><code>##                            name cd domesticated en lc nt vu NA_
##                African elephant  0            0  0  0  0  1   0
##       African giant pouched rat  0            0  0  0  0  0   1
##           African striped mouse  0            0  0  0  0  0   1
##                      Arctic fox  0            0  0  0  0  0   1
##          Arctic ground squirrel  0            0  0  1  0  0   0
##                  Asian elephant  0            0  1  0  0  0   0
##                          Baboon  0            0  0  0  0  0   1
##                   Big brown bat  0            0  0  1  0  0   0
##            Bottle-nosed dolphin  0            0  0  0  0  0   1
##                 Brazilian tapir  0            0  0  0  0  1   0
##                    Caspian seal  0            0  0  0  0  1   0
##                         Cheetah  0            0  0  1  0  0   0
##                      Chimpanzee  0            0  0  0  0  0   1
##                      Chinchilla  0            1  0  0  0  0   0
##                 Common porpoise  0            0  0  0  0  1   0
##                      Cotton rat  0            0  0  0  0  0   1
##                             Cow  0            1  0  0  0  0   0
##                      Deer mouse  0            0  0  0  0  0   1
##                            Degu  0            0  0  1  0  0   0
##                 Desert hedgehog  0            0  0  1  0  0   0
##                             Dog  0            1  0  0  0  0   0
##                    Domestic cat  0            1  0  0  0  0   0
##                          Donkey  0            1  0  0  0  0   0
##       Eastern american chipmunk  0            0  0  0  0  0   1
##           Eastern american mole  0            0  0  1  0  0   0
##               European hedgehog  0            0  0  1  0  0   0
##                          Galago  0            0  0  0  0  0   1
##                           Genet  0            0  0  0  0  0   1
##                 Giant armadillo  0            0  1  0  0  0   0
##                         Giraffe  1            0  0  0  0  0   0
##                            Goat  0            0  0  1  0  0   0
##                  Golden hamster  0            0  1  0  0  0   0
##  Golden-mantled ground squirrel  0            0  0  1  0  0   0
##                      Gray hyrax  0            0  0  1  0  0   0
##                       Gray seal  0            0  0  1  0  0   0
##      Greater short-tailed shrew  0            0  0  1  0  0   0
##                          Grivet  0            0  0  1  0  0   0
##                      Guinea pig  0            1  0  0  0  0   0
##                           Horse  0            1  0  0  0  0   0
##                     House mouse  0            0  0  0  1  0   0
##                           Human  0            0  0  0  0  0   1
##                          Jaguar  0            0  0  0  1  0   0
##                  Laboratory rat  0            0  0  1  0  0   0
##       Lesser short-tailed shrew  0            0  0  1  0  0   0
##                            Lion  0            0  0  0  0  1   0
##                Little brown bat  0            0  0  0  0  0   1
##            Long-nosed armadillo  0            0  0  1  0  0   0
##                         Macaque  0            0  0  0  0  0   1
##                        Mole rat  0            0  0  0  0  0   1
##                Mongolian gerbil  0            0  0  1  0  0   0
##                  Mongoose lemur  0            0  0  0  0  1   0
##                 Mountain beaver  0            0  0  0  1  0   0
##                      Musk shrew  0            0  0  0  0  0   1
##          North American Opossum  0            0  0  1  0  0   0
##               Northern fur seal  0            0  0  0  0  1   0
##      Northern grasshopper mouse  0            0  0  1  0  0   0
##                      Owl monkey  0            0  0  0  0  0   1
##                    Patas monkey  0            0  0  1  0  0   0
##                       Phalanger  0            0  0  0  0  0   1
##                             Pig  0            1  0  0  0  0   0
##                     Pilot whale  1            0  0  0  0  0   0
##                         Potoroo  0            0  0  0  0  0   1
##                           Potto  0            0  0  1  0  0   0
##                          Rabbit  0            1  0  0  0  0   0
##                         Red fox  0            0  0  0  0  0   1
##                      Rock hyrax  0            0  0  1  0  0   0
##                        Roe deer  0            0  0  1  0  0   0
##            Round-tailed muskrat  0            0  0  0  1  0   0
##                           Sheep  0            1  0  0  0  0   0
##             Short-nosed echidna  0            0  0  0  0  0   1
##                      Slow loris  0            0  0  0  0  0   1
##                 Squirrel monkey  0            0  0  0  0  0   1
##                 Star-nosed mole  0            0  0  1  0  0   0
##                          Tenrec  0            0  0  0  0  0   1
##            Thick-tailed opposum  0            0  0  1  0  0   0
##  Thirteen-lined ground squirrel  0            0  0  1  0  0   0
##                Three-toed sloth  0            0  0  0  0  0   1
##                           Tiger  0            0  1  0  0  0   0
##                      Tree hyrax  0            0  0  1  0  0   0
##                      Tree shrew  0            0  0  0  0  0   1
##                    Vesper mouse  0            0  0  0  0  0   1
##                           Vole   0            0  0  0  0  0   1
##       Western american chipmunk  0            0  0  0  0  0   1
##                           Total  2           10  4 27  4  7  29</code></pre>
