---
title: tidy-tuesday-weather
author: Kevin
date: '2020-01-07'
slug: tidy-tuesday-weather
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<p>Beginning the New Year, I made an arrangement with myself that I could not log onto twitter until I completed a <a href="https://github.com/rfordatascience/tidytuesday">Tidy Tuesday</a> project. Data vis does not come naturally and hoping that with more projects I become better.</p>
<pre class="r"><code>rainfall &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-07/rainfall.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   station_code = col_character(),
##   city_name = col_character(),
##   year = col_double(),
##   month = col_character(),
##   day = col_character(),
##   rainfall = col_double(),
##   period = col_double(),
##   quality = col_character(),
##   lat = col_double(),
##   long = col_double(),
##   station_name = col_character()
## )</code></pre>
<pre class="r"><code>temperature &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-07/temperature.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   city_name = col_character(),
##   date = col_date(format = &quot;&quot;),
##   temperature = col_double(),
##   temp_type = col_character(),
##   site_name = col_character()
## )</code></pre>
<div id="checking-out-the-data" class="section level3">
<h3>Checking Out the Data</h3>
<pre class="r"><code>head(temperature)</code></pre>
<pre><code>## # A tibble: 6 x 5
##   city_name date       temperature temp_type site_name    
##   &lt;chr&gt;     &lt;date&gt;           &lt;dbl&gt; &lt;chr&gt;     &lt;chr&gt;        
## 1 PERTH     1910-01-01        26.7 max       PERTH AIRPORT
## 2 PERTH     1910-01-02        27   max       PERTH AIRPORT
## 3 PERTH     1910-01-03        27.5 max       PERTH AIRPORT
## 4 PERTH     1910-01-04        24   max       PERTH AIRPORT
## 5 PERTH     1910-01-05        24.8 max       PERTH AIRPORT
## 6 PERTH     1910-01-06        24.4 max       PERTH AIRPORT</code></pre>
<pre class="r"><code>tail(temperature)</code></pre>
<pre><code>## # A tibble: 6 x 5
##   city_name date       temperature temp_type site_name               
##   &lt;chr&gt;     &lt;date&gt;           &lt;dbl&gt; &lt;chr&gt;     &lt;chr&gt;                   
## 1 MELBOURNE 2019-05-26         9.5 min       MELBOURNE (OLYMPIC PARK)
## 2 MELBOURNE 2019-05-27         7.8 min       MELBOURNE (OLYMPIC PARK)
## 3 MELBOURNE 2019-05-28         8.2 min       MELBOURNE (OLYMPIC PARK)
## 4 MELBOURNE 2019-05-29         8.7 min       MELBOURNE (OLYMPIC PARK)
## 5 MELBOURNE 2019-05-30         6.7 min       MELBOURNE (OLYMPIC PARK)
## 6 MELBOURNE 2019-05-31         8.5 min       MELBOURNE (OLYMPIC PARK)</code></pre>
</div>
<div id="wrangle-some-dates" class="section level3">
<h3>Wrangle some dates:</h3>
<pre class="r"><code>temperature$date_1 &lt;- lubridate::ymd(temperature$date)
temperature$y &lt;- lubridate::year(temperature$date_1)</code></pre>
<p>This code chunk will help determine if the data wrangling worked.</p>
<pre class="r"><code>names(temperature)</code></pre>
<pre><code>## [1] &quot;city_name&quot;   &quot;date&quot;        &quot;temperature&quot; &quot;temp_type&quot;   &quot;site_name&quot;  
## [6] &quot;date_1&quot;      &quot;y&quot;</code></pre>
<p>Run a script to get a single point.</p>
<pre class="r"><code>temperature %&gt;%
  ## group by yearmonth (`ym`)
  group_by(temp_type,y) %&gt;% 
  ## count number within each group
  summarise(n=mean(temperature)) </code></pre>
<pre><code>## # A tibble: 220 x 3
## # Groups:   temp_type [2]
##    temp_type     y     n
##    &lt;chr&gt;     &lt;dbl&gt; &lt;dbl&gt;
##  1 max        1910  NA  
##  2 max        1911  21.4
##  3 max        1912  NA  
##  4 max        1913  NA  
##  5 max        1914  NA  
##  6 max        1915  NA  
##  7 max        1916  NA  
##  8 max        1917  NA  
##  9 max        1918  NA  
## 10 max        1919  NA  
## # … with 210 more rows</code></pre>
<p>Make a plot.</p>
<pre class="r"><code>temperature %&gt;%
  ## group by yearmonth (`ym`)
  group_by(temp_type,y) %&gt;% 
  ## count number within each group
  summarise(n=mean(temperature)) %&gt;%
  ggplot(., aes(y, n, color = temp_type)) + 
  ## geom name for line chart
  geom_point() +
  labs(title = &quot;Australia: Mean Temperature by Max and Min&quot;,
       caption = &quot;source: http://www.bom.gov.au/climate/data/index.shtml&quot;) +
  xlab(&quot;Year&quot;) + 
  ylab(&quot;Mean Temperature&quot;) </code></pre>
<pre><code>## Warning: Removed 187 rows containing missing values (geom_point).</code></pre>
<p><img src="/post/2020-01-07-tidy-tuesday-weather_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
<p>Adding a theme and customize the settings makes a difference.</p>
<pre class="r"><code>temperature %&gt;%
  ## group by yearmonth (`ym`)
  group_by(temp_type,y) %&gt;% 
  ## count number within each group
  summarise(n=mean(temperature)) %&gt;%
  ggplot(., aes(y, n, color = temp_type)) + 
  ## geom name for line chart
  geom_point() +
  labs(title = &quot;Australia: Mean Temperature by Max and Min&quot;,
       caption = &quot;source: http://www.bom.gov.au/climate/data/index.shtml&quot;) +
  xlab(&quot;Year&quot;) + 
  ylab(&quot;Mean Temperature&quot;) +
  theme_light() +
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 16), 
                legend.position=&quot;right&quot;, 
                legend.title = element_text(&quot;Departure Type&quot;),
                plot.caption=element_text(size = 12), 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                
  )</code></pre>
<p><img src="/post/2020-01-07-tidy-tuesday-weather_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
</div>
<div id="submissions-that-intrigued-me" class="section level3">
<h3>Submissions that intrigued me</h3>
<p>Below are plots that got my attention on twitter. One thing that these two graphs had that I was not sure how to implement on the fly was splitting the dates.</p>
<p>Here is the code that was used to split the dates by decade.</p>
<pre class="r"><code>SE_AUS_MaxTemps &lt;- temperature %&gt;%
  filter(city_name != &quot;PERTH&quot;) %&gt;%
  filter(city_name != &quot;PORT&quot;) %&gt;%
  filter(temp_type == &quot;max&quot;) %&gt;%
  mutate(year = year(date)) %&gt;%
  mutate(decade = floor(year/10) * 10) %&gt;%
  group_by(decade) </code></pre>
<p>These two plots also have introduced me to the <a href="https://cran.r-project.org/web/packages/ggridges/vignettes/introduction.html">ggridges package</a></p>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
<a href="https://twitter.com/hashtag/TidyTuesday?src=hash&amp;ref_src=twsrc%5Etfw">#TidyTuesday</a> Australian Fire and Weather Data 🦘🇦🇺<br><br>An early plot using the ggridges package for the first time.<br><br>Code: <a href="https://t.co/3tAVdRnecf">https://t.co/3tAVdRnecf</a> <a href="https://t.co/GCC2YCfLCp">pic.twitter.com/GCC2YCfLCp</a>
</p>
— Ian Bell (<span class="citation">@Ian_Bellio</span>) <a href="https://twitter.com/Ian_Bellio/status/1214358473380466689?ref_src=twsrc%5Etfw">January 7, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
My <a href="https://twitter.com/hashtag/TidyTuesday?src=hash&amp;ref_src=twsrc%5Etfw">#TidyTuesday</a> contribution for this week.<br><br>Looks like a clear increase in the mean maximum temperature in Australia since the early 1900s. May be a contributing factor to the increase in the frequency and intensity of <a href="https://twitter.com/hashtag/AustraliaFires?src=hash&amp;ref_src=twsrc%5Etfw">#AustraliaFires</a>?<br><br>Code: <a href="https://t.co/vcHy7MY7Or">https://t.co/vcHy7MY7Or</a> <a href="https://twitter.com/hashtag/rstats?src=hash&amp;ref_src=twsrc%5Etfw">#rstats</a> <a href="https://t.co/kl4W86VFVn">pic.twitter.com/kl4W86VFVn</a>
</p>
— Collin Brehmer (<span class="citation">@cbrems73</span>) <a href="https://twitter.com/cbrems73/status/1215291309793120256?ref_src=twsrc%5Etfw">January 9, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
