---
title: Bullet-Chart-Attempt
author: Kein
date: '2020-07-13'
slug: bullet-chart-attempt
categories:
  - R
tags: []
image:
  caption: ''
  focal_point: ''
  
  
---



<p>I spent Sunday morning looking for data visualizations that identify achievement against targets and I came across a type of chart called a “Bullet Chart”.</p>
<p>This <a href="https://visualbi.com/blogs/business-intelligence/dashboards/bullet-charts-use-cases/#:~:text=Bullet%20charts%20are%20a%20variation,Display%20multiple%20measures">post</a> shares some use cases for bullet charts.</p>
<p>Here is another nice <a href="https://en.wikipedia.org/wiki/Bullet_graph">article</a> from Wikipedia.</p>
<p>But how in R?</p>
<p>The best resource I could find was from this <a href="https://groups.google.com/forum/#!topic/ggplot2/IuioCxuCJss">google group email thread</a></p>
<pre class="r"><code>library(ggplot2)</code></pre>
<pre class="r"><code>fake.data &lt;- data.frame(measure=letters[1:10],
                        value=rpois(10,5),
                        mean=rpois(10,5),
                        target=rpois(10,7) )</code></pre>
<p>The only piece of code, I had to update was from geom_bar to geom_col. </p>
<pre class="r"><code>p &lt;- ggplot(fake.data, aes(value, measure) )



p &lt;- ggplot(fake.data, aes(measure, value) )
p &lt;- p + geom_col(fill=&quot;grey&quot;, width=0.5)
p &lt;- p + geom_col(aes(measure, mean), width=0.2)
p &lt;- p + geom_point(aes(measure, target), colour=&quot;red&quot;)
p &lt;- p + geom_errorbar(aes(y = target,x = measure, ymin = target,ymax
= target), width = .45)
p &lt;- p + coord_flip()
p</code></pre>
<div class="figure"><span id="fig:bullet-chart"></span>
<img src="/post/2020-07-13-bullet-chart-attempt_files/figure-html/bullet-chart-1.png" alt="Example Bullet Chart" width="672" />
<p class="caption">
Figure 1: Example Bullet Chart
</p>
</div>
<p>I suspect the hardest part will be to set up the data frame for the data I want to show.</p>
