---
title: tidy-tuesday-passwords
author: Kevin
date: '2020-01-15'
slug: tidy-tuesday-passwords
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ──────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.2.0       ✔ purrr   0.3.2  
## ✔ tibble  2.1.3       ✔ dplyr   0.8.0.1
## ✔ tidyr   0.8.3       ✔ stringr 1.4.0  
## ✔ readr   1.3.1       ✔ forcats 0.4.0</code></pre>
<pre><code>## ── Conflicts ─────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<pre class="r"><code>passwords &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-14/passwords.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   rank = col_double(),
##   password = col_character(),
##   category = col_character(),
##   value = col_double(),
##   time_unit = col_character(),
##   offline_crack_sec = col_double(),
##   rank_alt = col_double(),
##   strength = col_double(),
##   font_size = col_double()
## )</code></pre>
<pre class="r"><code>head(passwords)</code></pre>
<pre><code>## # A tibble: 6 x 9
##    rank password category value time_unit offline_crack_s… rank_alt
##   &lt;dbl&gt; &lt;chr&gt;    &lt;chr&gt;    &lt;dbl&gt; &lt;chr&gt;                &lt;dbl&gt;    &lt;dbl&gt;
## 1     1 password passwor…  6.91 years          2.17               1
## 2     2 123456   simple-… 18.5  minutes        0.0000111          2
## 3     3 12345678 simple-…  1.29 days           0.00111            3
## 4     4 1234     simple-… 11.1  seconds        0.000000111        4
## 5     5 qwerty   simple-…  3.72 days           0.00321            5
## 6     6 12345    simple-…  1.85 minutes        0.00000111         6
## # … with 2 more variables: strength &lt;dbl&gt;, font_size &lt;dbl&gt;</code></pre>
<pre class="r"><code>tail(passwords)</code></pre>
<pre><code>## # A tibble: 6 x 9
##    rank password category value time_unit offline_crack_s… rank_alt
##   &lt;dbl&gt; &lt;chr&gt;    &lt;chr&gt;    &lt;dbl&gt; &lt;chr&gt;                &lt;dbl&gt;    &lt;dbl&gt;
## 1    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## 2    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## 3    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## 4    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## 5    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## 6    NA &lt;NA&gt;     &lt;NA&gt;        NA &lt;NA&gt;                    NA       NA
## # … with 2 more variables: strength &lt;dbl&gt;, font_size &lt;dbl&gt;</code></pre>
<pre class="r"><code>passwords %&gt;%
  dplyr::filter(rank &lt;50) %&gt;%
ggplot2::ggplot(.,aes(x = rank, y = fct_rev(fct_infreq(category)), color = time_unit)) +
  geom_point() +
  theme_light() +
  labs(title = &quot;Top 50 Ranked Password Categories&quot;,
       subtitle = &quot;Filled by time to match value&quot;,
      caption = &quot;Tidy Tuesday 2020-01-14&quot;) +
  ylab(&quot;Cateory&quot;) +
  xlab(&quot;Rank&quot;) +
  labs(color=&quot;Time Unit&quot;) + #this changes the title of the legend
  
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 12), 
                legend.position=&quot;right&quot;, 
                legend.title = element_text(&quot;Unit of time&quot;),
                plot.caption=element_text(size = 12), 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                
  )</code></pre>
<p><img src="/post/2020-01-15-tidy-tuesday-passwords_files/figure-html/final-graph-1.png" width="672" /></p>
<p>What I learned from this graph was updating the title of the legend. This <a href="https://stackoverflow.com/questions/14622421/how-to-change-legend-title-in-ggplot">post</a> helped me get there.</p>
