---
title: tidy-tuesday-trees
author: kevin
date: '2020-01-28'
slug: tidy-tuesday-trees
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<pre class="r"><code>sf_trees &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-28/sf_trees.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   tree_id = col_double(),
##   legal_status = col_character(),
##   species = col_character(),
##   address = col_character(),
##   site_order = col_double(),
##   site_info = col_character(),
##   caretaker = col_character(),
##   date = col_date(format = &quot;&quot;),
##   dbh = col_double(),
##   plot_size = col_character(),
##   latitude = col_double(),
##   longitude = col_double()
## )</code></pre>
