---
title:  New Tools
author: Kevin
date: '2018-10-21'
slug: back-to-basics
categories:
  - Worknotes
tags:
   ["Google Sheets", "Stringr"]
header:
  caption: ''
  image: ''
---



<p>I started using the google sheets package to extract attendance data.</p>
<p>An interesting caveot when using the package. Here is a <a href="https://github.com/jennybc/googlesheets/issues/114">Github Issue</a> that helped me understand how to resolve.</p>
<p>This script flow worked well.</p>
<pre class="r"><code>citrus &lt;- gs_title(&quot;Q1-Citrus&quot;)  #this registers the spreadsheet 



citrus_sites &lt;- citrus %&gt;% 
    gs_read(ws = &quot;Qtr 1&quot;, range = cell_rows(10:20)) %&gt;% #this reads the data in the spreadsheet from the specified range
    mutate(council = &quot;citrus&quot;) %&gt;% # add council name 
    slice(-1)#exclude the e</code></pre>
<p>A trouble spot with the attendance data is when a site as mutliple groups within a site. For example:</p>
<p>The Bridge, Period 1</p>
<p>The Bridge, Period 2</p>
<p>The Bridge, Period 3</p>
<p>A solution is to use the <a href="https://stringr.tidyverse.org/reference/index.html">stringr</a> package and the function str_extract</p>
<pre class="r"><code>bridge &lt;- str_extract(gateway_sites$`Site/or Location`, &quot;Bridge&quot;) #makes a vector 
#with just the first word of the school. 

bridge &lt;- bridge[4:7]

bridge_dat &lt;- gateway_sites %&gt;%
    slice(4:7)


bridge_served &lt;- bridge_dat$`Number of Students  Mentored/Served` #makes a vector from that column



bridge_tib &lt;- new_tibble(list (school = bridge, count = bridge_served))</code></pre>
