---
title: tidy-tuesday-spotify
author: Kevin
date: '2020-01-20'
slug: tidy-tuesday-spotfy
categories:
  - R
tags:
  - TidyTuesday
image:
  caption: ''
  focal_point: ''
---



<p>A <a href="https://github.com/rfordatascience/tidytuesday">Tidy Tuesday</a> post releated to Spotify music playlists.</p>
<pre class="r"><code>spotify_songs &lt;- readr::read_csv(&#39;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-21/spotify_songs.csv&#39;)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   .default = col_double(),
##   track_id = col_character(),
##   track_name = col_character(),
##   track_artist = col_character(),
##   track_album_id = col_character(),
##   track_album_name = col_character(),
##   track_album_release_date = col_character(),
##   playlist_name = col_character(),
##   playlist_id = col_character(),
##   playlist_genre = col_character(),
##   playlist_subgenre = col_character()
## )</code></pre>
<pre><code>## See spec(...) for full column specifications.</code></pre>
<pre class="r"><code>head(spotify_songs)</code></pre>
<pre><code>## # A tibble: 6 x 23
##   track_id track_name track_artist track_popularity track_album_id
##   &lt;chr&gt;    &lt;chr&gt;      &lt;chr&gt;                   &lt;dbl&gt; &lt;chr&gt;         
## 1 6f807x0… I Don&#39;t C… Ed Sheeran                 66 2oCs0DGTsRO98…
## 2 0r7CVbZ… Memories … Maroon 5                   67 63rPSO264uRjW…
## 3 1z1Hg7V… All the T… Zara Larsson               70 1HoSmj2eLcsrR…
## 4 75Fpbth… Call You … The Chainsm…               60 1nqYsOef1yKKu…
## 5 1e8PAfc… Someone Y… Lewis Capal…               69 7m7vv9wlQ4i0L…
## 6 7fvUMiy… Beautiful… Ed Sheeran                 67 2yiy9cd2QktrN…
## # … with 18 more variables: track_album_name &lt;chr&gt;,
## #   track_album_release_date &lt;chr&gt;, playlist_name &lt;chr&gt;,
## #   playlist_id &lt;chr&gt;, playlist_genre &lt;chr&gt;, playlist_subgenre &lt;chr&gt;,
## #   danceability &lt;dbl&gt;, energy &lt;dbl&gt;, key &lt;dbl&gt;, loudness &lt;dbl&gt;,
## #   mode &lt;dbl&gt;, speechiness &lt;dbl&gt;, acousticness &lt;dbl&gt;,
## #   instrumentalness &lt;dbl&gt;, liveness &lt;dbl&gt;, valence &lt;dbl&gt;, tempo &lt;dbl&gt;,
## #   duration_ms &lt;dbl&gt;</code></pre>
<p>I had a challenging time with this data set; it did not give me what I wanted no matter how much I tortured the data. I settled on two plots a box plot and density plot. The value of this exercise was finally utilizing virdis color palette from the <a href="https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html">viridis package</a>. I also spent time tweaking theme elements in both graphs such line breaks and formatting caption elements.</p>
<pre class="r"><code>ggplot(spotify_songs, aes(y = track_popularity, x = playlist_genre, fill = playlist_genre)) +
  geom_boxplot() +
  facet_wrap(~playlist_genre) +
  labs(title = &quot;Popularity of Tracks by Genre&quot;,
       caption = &quot;Data from spotifyr package  \n tidytuesday \n @kevin_gilds \n  &quot;) +
  ylab(&quot;Track Popularity&quot;) +
  scale_fill_viridis(discrete = TRUE, alpha=0.6) +
    #geom_jitter(color=&quot;black&quot;, size=0.4, alpha=0.9) +
  labs(fill = &quot;Playlist Genre&quot;) +
  theme_light() +
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 12), 
                legend.position=&quot;right&quot;, 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                axis.text.x = element_blank(),
                axis.ticks.x = element_blank(),
                axis.title.x = element_blank(),
                plot.caption = element_text(face = &quot;italic&quot;, size = 8)
                
  )</code></pre>
<p><img src="/post/tidy-tuesday-spotify/2020-01-20-tidy-tuesday-spotfy_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
<pre class="r"><code>ggplot(spotify_songs, aes(x = energy, fill = playlist_genre)) +
  geom_density() +
  theme_light()+
  labs(title = &quot;Energy Level of songs by Genre&quot;,
      caption = &quot;Data from spotifyr package  \n tidytuesday \n @kevin_gilds \n  &quot;)  +
  labs(fill=&quot;Playlist Genre&quot;) +
  
  xlab(&quot;Energy&quot;) +
  theme(axis.text = element_text(size = 14), 
                title = element_text(size = 12), 
                legend.position=&quot;right&quot;, 
                panel.grid.major = element_blank(), 
                panel.grid.minor = element_blank(),
                plot.caption = element_text(face = &quot;italic&quot;, size = 8)
  )</code></pre>
<p><img src="/post/tidy-tuesday-spotify/2020-01-20-tidy-tuesday-spotfy_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
