---
title: freelance-posts
author: kevin
date: '2020-06-19'
slug: freelance-posts
categories:
  - freelance
  - r
tags: [tidytext]
image: 
  caption: 'Freelance Word Count'
  focal_point: 'Smart'
---



<p>How often do you formally analyze all the comments you receive. Below I will show you some ways to process text data for additional analysis.</p>
<p>Below is a simple analysis of my post from the <em>Freelance Workshop</em>. The workshop consisted of viewing a video by Seth Godin, and responding to question prompts and tagging other participants. The key was writing your response and tagging other people to receive feedback and vice-versa.</p>
<p>At the end of the workshop, participants were able to download their posts into a csv file. I thought it may be good fun to analyze the data.</p>
<p>I was surprised I only had 106 posts; it felt like much more and I am not sure had the capacity to write more.</p>
<div id="load-required-packages" class="section level3">
<h3>Load Required packages</h3>
<pre class="r"><code>library(dplyr)
library(ggplot2)
library(tidytext)
library(forcats)
library(viridis)
library(gt)</code></pre>
<p>Below is a display of the first six rows and selected columns</p>
<pre class="r"><code>post %&gt;%
  dplyr::select(created_at, like_count, post) %&gt;%
  head() %&gt;%
  gt::gt()</code></pre>
<style>html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#oaevfofoqb .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#oaevfofoqb .gt_heading {
  background-color: #FFFFFF;
  text-align: center;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#oaevfofoqb .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#oaevfofoqb .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 4px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#oaevfofoqb .gt_bottom_border {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#oaevfofoqb .gt_col_headings {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#oaevfofoqb .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#oaevfofoqb .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#oaevfofoqb .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#oaevfofoqb .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#oaevfofoqb .gt_column_spanner {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#oaevfofoqb .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#oaevfofoqb .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: middle;
}

#oaevfofoqb .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#oaevfofoqb .gt_from_md > :first-child {
  margin-top: 0;
}

#oaevfofoqb .gt_from_md > :last-child {
  margin-bottom: 0;
}

#oaevfofoqb .gt_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#oaevfofoqb .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  padding-left: 12px;
}

#oaevfofoqb .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#oaevfofoqb .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#oaevfofoqb .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#oaevfofoqb .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#oaevfofoqb .gt_table_body {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#oaevfofoqb .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#oaevfofoqb .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#oaevfofoqb .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#oaevfofoqb .gt_sourcenote {
  font-size: 90%;
  padding: 4px;
}

#oaevfofoqb .gt_left {
  text-align: left;
}

#oaevfofoqb .gt_center {
  text-align: center;
}

#oaevfofoqb .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#oaevfofoqb .gt_font_normal {
  font-weight: normal;
}

#oaevfofoqb .gt_font_bold {
  font-weight: bold;
}

#oaevfofoqb .gt_font_italic {
  font-style: italic;
}

#oaevfofoqb .gt_super {
  font-size: 65%;
}

#oaevfofoqb .gt_footnote_marks {
  font-style: italic;
  font-size: 65%;
}
</style>
<div id="oaevfofoqb" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;"><table class="gt_table">
  
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1">created_at</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_right" rowspan="1" colspan="1">like_count</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1">post</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr>
      <td class="gt_row gt_left">2020-03-30 20:56:58</td>
      <td class="gt_row gt_right">1</td>
      <td class="gt_row gt_left">For kids: Adventures of Huckleberry Finn: Learn to see the world from many perspectives and learn empathy.
For adults: Lila An Inquiry Into Morals: Provides a framework for understanding life and change. 
For people at work: The War of Art:  This book taught me how to work.</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">2020-03-31 01:21:54</td>
      <td class="gt_row gt_right">1</td>
      <td class="gt_row gt_left">Thank you for the welcome @traviswilson . Good question, Finn and Lilla are about trying to understand people and society.</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">2020-03-31 20:37:27</td>
      <td class="gt_row gt_right">4</td>
      <td class="gt_row gt_left">Hello! My name is Kevin Gilds residing in Lakeland, Florida--between Tampa and Orlando. I am here to learn how to take the next steps. I fell into my first freelancing gig and would love to do more.</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">2020-03-31 21:12:07</td>
      <td class="gt_row gt_right">2</td>
      <td class="gt_row gt_left">Hi Razlan,

I try to get the tough stuff done early while they are still asleep. We are fortunate that we have the flexibility to alternate care giving duties. The kids are also of the age where they are able to play together most of the time well enough. 

Hang in there!</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">2020-03-31 23:53:03</td>
      <td class="gt_row gt_right">0</td>
      <td class="gt_row gt_left">This is a great one; I let my former boss read and has not returned yet.... :upside_down_face:</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">2020-04-01 20:31:17</td>
      <td class="gt_row gt_right">3</td>
      <td class="gt_row gt_left">I am a huge fan of this podcast and blogging platform

It is from the creators of Basecamp.

The podcast:
https://rework.fm/

The blogging/article platform
https://m.signalvnoise.com/</td>
    </tr>
  </tbody>
  
  
</table></div>
<p>I will use the <a href="https://github.com/juliasilge/tidytext">tidytext package</a> to break down the words in the post column and put it in a tidy format for analysis.</p>
<p>Lets take a peak</p>
<pre class="r"><code>post %&gt;%
  tidytext::unnest_tokens(word, post)%&gt;%
   dplyr::count(word) %&gt;% # count number of words produces n
   dplyr::arrange(desc(n)) %&gt;%
   dplyr::filter(n &gt;=150) %&gt;%
    gt::gt() %&gt;%
      tab_header(
    title = md(&quot;**Kevin&#39;s Top Words**&quot;),
    subtitle = md(&quot;*The Freelance Workshop*&quot;)
  )</code></pre>
<style>html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#cbxacpozja .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#cbxacpozja .gt_heading {
  background-color: #FFFFFF;
  text-align: center;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#cbxacpozja .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#cbxacpozja .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 4px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#cbxacpozja .gt_bottom_border {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#cbxacpozja .gt_col_headings {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#cbxacpozja .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#cbxacpozja .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#cbxacpozja .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#cbxacpozja .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#cbxacpozja .gt_column_spanner {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#cbxacpozja .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#cbxacpozja .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: middle;
}

#cbxacpozja .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#cbxacpozja .gt_from_md > :first-child {
  margin-top: 0;
}

#cbxacpozja .gt_from_md > :last-child {
  margin-bottom: 0;
}

#cbxacpozja .gt_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#cbxacpozja .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  padding-left: 12px;
}

#cbxacpozja .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#cbxacpozja .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#cbxacpozja .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#cbxacpozja .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#cbxacpozja .gt_table_body {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#cbxacpozja .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#cbxacpozja .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#cbxacpozja .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#cbxacpozja .gt_sourcenote {
  font-size: 90%;
  padding: 4px;
}

#cbxacpozja .gt_left {
  text-align: left;
}

#cbxacpozja .gt_center {
  text-align: center;
}

#cbxacpozja .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#cbxacpozja .gt_font_normal {
  font-weight: normal;
}

#cbxacpozja .gt_font_bold {
  font-weight: bold;
}

#cbxacpozja .gt_font_italic {
  font-style: italic;
}

#cbxacpozja .gt_super {
  font-size: 65%;
}

#cbxacpozja .gt_footnote_marks {
  font-style: italic;
  font-size: 65%;
}
</style>
<div id="cbxacpozja" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;"><table class="gt_table">
  <thead class="gt_header">
    <tr>
      <th colspan="2" class="gt_heading gt_title gt_font_normal" style><strong>Kevin's Top Words</strong></th>
    </tr>
    <tr>
      <th colspan="2" class="gt_heading gt_subtitle gt_font_normal gt_bottom_border" style><em>The Freelance Workshop</em></th>
    </tr>
  </thead>
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1">word</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_center" rowspan="1" colspan="1">n</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr>
      <td class="gt_row gt_left">to</td>
      <td class="gt_row gt_center">415</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">the</td>
      <td class="gt_row gt_center">344</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">i</td>
      <td class="gt_row gt_center">342</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">and</td>
      <td class="gt_row gt_center">237</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">a</td>
      <td class="gt_row gt_center">209</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">you</td>
      <td class="gt_row gt_center">202</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">is</td>
      <td class="gt_row gt_center">173</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">of</td>
      <td class="gt_row gt_center">161</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">this</td>
      <td class="gt_row gt_center">150</td>
    </tr>
  </tbody>
  
  
</table></div>
<p>Not very interesting, but we can clean this up! The <a href="https://github.com/juliasilge/tidytext">tidytext package</a> has loaded stop words to help us remove common words, and I am going to add words specific to the workshop.</p>
<blockquote>
<p>Complete an anti-join to remove standard stop words and add your own custom words you wish to dismiss</p>
</blockquote>
<p>Below are my custom words:</p>
<pre class="r"><code>word &lt;- c(&quot;topic&quot;,&quot;quote&quot;, &quot;post&quot;, &quot;1&quot;, &quot;https&quot;, &quot;hey&quot;, &quot;2&quot;, &quot;homeroom5&quot;, &quot;5&quot;, &quot;3&quot;, &quot;6&quot;, &quot;_kevin_&quot;, &quot;_imposter_&quot;, &quot;34974&quot;, &quot;you’re&quot;)

workshop_stop &lt;- data.frame(word)</code></pre>
<p>Below we have a script that adds some additional data processing to extract insights from the words. I added a case_when statement to deal with similar words and the anti-join statement to remove non insightful words</p>
<pre class="r"><code>word_count &lt;- post %&gt;%
  tidytext::unnest_tokens(word, post ) %&gt;% #breakdown each word of the character vector
  dplyr::mutate(word  = case_when( #make 
      word == &quot;client&quot; ~ &quot;clients&quot;,
      TRUE ~(word)
    )) %&gt;%  
  dplyr::anti_join(stop_words) %&gt;% #remove standard common words
    dplyr::anti_join(workshop_stop) %&gt;% #remove words specifc to the workshop that are not of valle
  dplyr::count(word) %&gt;% # count number of words produces n
   dplyr::arrange(desc(n)) %&gt;%
   dplyr::filter(n &gt;=16) %&gt;%
  gt::gt () %&gt;%
  tab_header(
    title = md(&quot;**Kevin&#39;s Top Words**&quot;),
    subtitle = md(&quot;*The Freelance Workshop*&quot;)
  )

word_count</code></pre>
<style>html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
}

#ypzhnykyxn .gt_table {
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  font-size: 16px;
  background-color: #FFFFFF;
  width: auto;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #A8A8A8;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #A8A8A8;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
}

#ypzhnykyxn .gt_heading {
  background-color: #FFFFFF;
  text-align: center;
  border-bottom-color: #FFFFFF;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#ypzhnykyxn .gt_title {
  color: #333333;
  font-size: 125%;
  font-weight: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #FFFFFF;
  border-bottom-width: 0;
}

#ypzhnykyxn .gt_subtitle {
  color: #333333;
  font-size: 85%;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 4px;
  border-top-color: #FFFFFF;
  border-top-width: 0;
}

#ypzhnykyxn .gt_bottom_border {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#ypzhnykyxn .gt_col_headings {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
}

#ypzhnykyxn .gt_col_heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

#ypzhnykyxn .gt_column_spanner_outer {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: normal;
  text-transform: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

#ypzhnykyxn .gt_column_spanner_outer:first-child {
  padding-left: 0;
}

#ypzhnykyxn .gt_column_spanner_outer:last-child {
  padding-right: 0;
}

#ypzhnykyxn .gt_column_spanner {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 6px;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;
}

#ypzhnykyxn .gt_group_heading {
  padding: 8px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
}

#ypzhnykyxn .gt_empty_group_heading {
  padding: 0.5px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  vertical-align: middle;
}

#ypzhnykyxn .gt_striped {
  background-color: rgba(128, 128, 128, 0.05);
}

#ypzhnykyxn .gt_from_md > :first-child {
  margin-top: 0;
}

#ypzhnykyxn .gt_from_md > :last-child {
  margin-bottom: 0;
}

#ypzhnykyxn .gt_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 1px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 1px;
  border-right-color: #D3D3D3;
  vertical-align: middle;
  overflow-x: hidden;
}

#ypzhnykyxn .gt_stub {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: initial;
  text-transform: inherit;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
  padding-left: 12px;
}

#ypzhnykyxn .gt_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#ypzhnykyxn .gt_first_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
}

#ypzhnykyxn .gt_grand_summary_row {
  color: #333333;
  background-color: #FFFFFF;
  text-transform: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#ypzhnykyxn .gt_first_grand_summary_row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top-style: double;
  border-top-width: 6px;
  border-top-color: #D3D3D3;
}

#ypzhnykyxn .gt_table_body {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}

#ypzhnykyxn .gt_footnotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#ypzhnykyxn .gt_footnote {
  margin: 0px;
  font-size: 90%;
  padding: 4px;
}

#ypzhnykyxn .gt_sourcenotes {
  color: #333333;
  background-color: #FFFFFF;
  border-bottom-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
  border-left-style: none;
  border-left-width: 2px;
  border-left-color: #D3D3D3;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}

#ypzhnykyxn .gt_sourcenote {
  font-size: 90%;
  padding: 4px;
}

#ypzhnykyxn .gt_left {
  text-align: left;
}

#ypzhnykyxn .gt_center {
  text-align: center;
}

#ypzhnykyxn .gt_right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

#ypzhnykyxn .gt_font_normal {
  font-weight: normal;
}

#ypzhnykyxn .gt_font_bold {
  font-weight: bold;
}

#ypzhnykyxn .gt_font_italic {
  font-style: italic;
}

#ypzhnykyxn .gt_super {
  font-size: 65%;
}

#ypzhnykyxn .gt_footnote_marks {
  font-style: italic;
  font-size: 65%;
}
</style>
<div id="ypzhnykyxn" style="overflow-x:auto;overflow-y:auto;width:auto;height:auto;"><table class="gt_table">
  <thead class="gt_header">
    <tr>
      <th colspan="2" class="gt_heading gt_title gt_font_normal" style><strong>Kevin's Top Words</strong></th>
    </tr>
    <tr>
      <th colspan="2" class="gt_heading gt_subtitle gt_font_normal gt_bottom_border" style><em>The Freelance Workshop</em></th>
    </tr>
  </thead>
  <thead class="gt_col_headings">
    <tr>
      <th class="gt_col_heading gt_columns_bottom_border gt_left" rowspan="1" colspan="1">word</th>
      <th class="gt_col_heading gt_columns_bottom_border gt_center" rowspan="1" colspan="1">n</th>
    </tr>
  </thead>
  <tbody class="gt_table_body">
    <tr>
      <td class="gt_row gt_left">data</td>
      <td class="gt_row gt_center">83</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">clients</td>
      <td class="gt_row gt_center">66</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">time</td>
      <td class="gt_row gt_center">29</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">evaluation</td>
      <td class="gt_row gt_center">26</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">people</td>
      <td class="gt_row gt_center">23</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">skills</td>
      <td class="gt_row gt_center">18</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">farid</td>
      <td class="gt_row gt_center">17</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">process</td>
      <td class="gt_row gt_center">16</td>
    </tr>
    <tr>
      <td class="gt_row gt_left">story</td>
      <td class="gt_row gt_center">16</td>
    </tr>
  </tbody>
  
  
</table></div>
<p>Now we are in position to graph the data. Below is a graph of my most frequent words with a minimum of 16.</p>
<p><img src="/post/freelance/index_files/figure-html/post-count-grouped-1.png" width="672" /></p>
<p>The most surprising word that stands out to me is <strong>time</strong>. It makes me want to re-read my post and understand the context of the use better.</p>
<p><a href="https://gitlab.com/kgilds/kevinsblog2/-/blob/master/content/post/freelance/2020-06-19-freelance-posts.Rmd">Code for the graph is here:</a></p>
<p>What were the most frequent post by category?</p>
<p><img src="/post/freelance/index_files/figure-html/post-categories-plot-1.png" width="672" /></p>
<p><a href="https://gitlab.com/kgilds/kevinsblog2/-/blob/master/content/post/freelance/2020-06-19-freelance-posts.Rmd">Code for the graph is here:</a></p>
<p>This has been a basic introduction to text mining with R. It is possible to break down comments into their words and find possible insights with text data. Check out the <a href="https://www.tidytextmining.com/index.html">Tidytext book</a> from Julia Silge and David Robinson for additional ideas on text analysis.</p>
</div>
