---
title: Lessons from Steve Martin 
description: |
  Lessons in Art from Steve Martin
author:
  - name: Kevin Gilds
    url:  
date: "2021-05-28"
output: distill::distill_article
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p>This <a href="https://www.presentationzen.com/presentationzen/2015/04/presentation-lessons-from-steve-martins-autobiography.html">blog post</a> from Garr Reynolds summarizing key points of Steve Martin’s book <em>Born Standing Up</em> is a fun read.</p>
<p>Many common themes between the lessons identified and the book <em>The Practice</em> by Seth Godin.</p>
<aside>
See my <a href="https://www.tidydatabykwg.com/posts/practice/">post</a> about the book the <em>The Practice</em>.
</aside>
<p>Key themes from the post include</p>
<ul>
<li>perseverance is more important than talent</li>
</ul>
<aside>
<p>or you become talented by perseverance. <em>The Practice</em></p>
</aside>
<ul>
<li><p>The importance of structures to a talk or presentation—a beginning, a middle and end.</p></li>
<li><p>Be consistently good.</p></li>
</ul>
<p>I am adding this book to my reading list. I need to throw more.</p>
