---
title: "Spreadsheet Practices"
description: |
  Good Data Hygeine
author:
  - name: Kevin Gilds, MPA 
    url: 
date: "2021-05-28"
output: distill::distill_article
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p>I saw this thread on twitter and it highlights important data practices whether you are coding in R/Phyton or using a spreadsheet. Good data practices are critical no matter the tool you are using.</p>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
Part of my job is improving financial processes. But I’m not going to convince them to stop using spreadsheets. So I focus on making them better and enforcing good practices. Keep your data and your analysis separate. Start with a table. Don’t get carried away with VBA. 3/
</p>
— 🤷🏻‍♀️ Cᴀsᴇʏ (<span class="citation">@kccarrell</span>) <a href="https://twitter.com/kccarrell/status/1360636291994570758?ref_src=twsrc%5Etfw">February 13, 2021</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<ul>
<li>The data and the analysis need to be separate.</li>
</ul>
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
Use some type of version control. Audit your spreadsheets. Create logical and top line check digits. Clean your data first. <br><br>I’m not impressed that you can write fancy formulas. I’m impressed if you can explain everything happening in your spreadsheet without tracing cells. /
</p>
— 🤷🏻‍♀️ Cᴀsᴇʏ (<span class="citation">@kccarrell</span>) <a href="https://twitter.com/kccarrell/status/1360636292858601477?ref_src=twsrc%5Etfw">February 13, 2021</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<ul>
<li><p>Use version control</p></li>
<li><p>clean your data first</p></li>
<li><p>test and do more testing</p></li>
</ul>
