---
title: Rmarkdown Tips & Tricks Link
author: Kevin
date: '2022-01-06'
slug: []
categories:
  - R
tags:
  - Rmarkdown
image:
  caption: ''
  focal_point: ''
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>#| echo = FALSE,
#| message = FALSE,

library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──</code></pre>
<pre><code>## ✓ ggplot2 3.3.5     ✓ purrr   0.3.4
## ✓ tibble  3.1.3     ✓ dplyr   1.0.7
## ✓ tidyr   1.1.3     ✓ stringr 1.4.0
## ✓ readr   2.0.1     ✓ forcats 0.5.1</code></pre>
<pre><code>## ── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
## x dplyr::filter() masks stats::filter()
## x dplyr::lag()    masks stats::lag()</code></pre>
<p>Here is a useful <a href="https://www.rstudio.com/blog/r-markdown-tips-tricks-2-cleaning-up-your-code/">post</a>. What caught my attention was this tip</p>
<p>Look at how the chunk options are presented.</p>
<pre class="r"><code>#| echo = FALSE,
#| message = FALSE,
#| fig.width = 6, fig.height = 6,
#| fig.path = &quot;figures/&quot;,
#| fig.caption = &quot;This is a long caption that fits better inside of a code chunk&quot;
#| fig.alt = &quot;This is a long description that conveys the meaning of the visual.&quot;

ggplot(data = mtcars, aes(x = wt, y = mpg)) +
  geom_point()</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/plot-options-1.png" width="672" /></p>
